<div id="ranks" data-role="view" data-title="" data-layout="main-detail" data-model="app.ranksView.ranksViewModel" 
     data-show="app.ranksView.onShow" data-after-show="app.ranksView.afterShow" xdata-init="app.ranksView.onInit">
     
    <div>Rankings</div>

    <div class="descricao-wrap">
        <h3>Curso:</h3>
        <h3 data-bind="text: dataSource['Curso']"></h3>
    </div>

    <div class="masterDetailView" data-role="listview" data-auto-bind="true" data-style="" data-template="ranksViewModelTemplate" 
        data-bind="{ source: dataSource.ranking }" data-pull-to-refresh="false" data-endless-scroll="false">
    </div>

    <div class="descricao-wrap">
        <h3>Sua posição atual</h3>
    </div>

    <ul>
        <li>
            <span data-bind="text: dataSource.suaPosicao.text"></span>
            <span class="user-thumb">
                <img id="foto" class="km-thumbnail" data-bind="attr: { src: dataSource.suaPosicao.fotoUri }" alt="Your photo">
            </span>
            <span data-bind="text: dataSource.suaPosicao.nome"></span>
            <span data-bind="text: dataSource.suaPosicao.pontos"></span>
        </li>
    </ul>

    <script type="text/x-kendo-template" id="ranksViewModelTemplate">            
            # data = app.ranksView.ranksViewModel.fixHierarchicalData(data); #
        <!--div>
            # data = app.ranksView.ranksViewModel.fixHierarchicalData(data); #
            <h3>#: data['Titulo'] #</h3>
        </div-->
        <span> #: data['text'] # </span>
        <span class="user-thumb">
            <img id="foto" class="km-thumbnail" src="#: data['fotoUri'] #" alt="Your photo">
        </span>
        <span> #: data['nome'] # </span>
        <span> #: data['pontos'] # </span>
    </script>
</div>