<div id="mackz-mural" data-role="view" data-title="" data-layout="main-detail" data-model="app.faqsView" 
     data-show="app.faqsView.onShow" data-after-show="app.faqsView.afterShow">
    
    <div class="section-name-wrap">
        <div class="section-icon-name flaticon-publication">
            <span class="km-icon" data-icon=""></span>
            <span>Minhas Publicações</span>
        </div>
        <a class="link-x" data-bind=""></a>
    </div>

    <div class="section-name-wrap mural-header">
        <p>Compartilhe um artigo, foto ou ideia</p>

        <div class="mural-header-icons">
            <div class="section-icon-name flaticon-post">
                <span class="km-icon" data-icon=""></span>
            </div>
            <div class="section-icon-name flaticon-camera">
                <span class="km-icon" data-icon=""></span>
            </div>
        </div>
        <!-- <a class="link-x" data-bind=""></a> -->
    </div>

    <div class="mural-conteudo-wrap">
        <ul class="masterDetailView km-widget km-listview km-list" data-role="listview">

            <li data-uid="" class="bg-branco">

                <!-- NOME DO USUÁRIO QUE POSTOU -->
                <div class="post-user">
                    <div class="user-thumb mural-thumb thumb-sm">
                        <img class="km-thumbnail" data-bind="" src="../../styles/images/user-male.png" alt="Your photo">
                    </div>

                    <h4 data-bind="">Brad Pitt</h4>

                    <div class="section-icon-name flaticon-clock">
                        <span class="km-icon" data-icon=""></span>
                        1 hora atrás
                    </div>
                </div>

                <!-- CONTEÚDO DO POST -->
                <div class="post-conteudo-wrap">
                    <div class="post-conteudo">
                        <p>Os Tablets estão substituindo os cadernos...</p>
                        <div class="post-imagem">
                            <img src="http://www.tecnicosabc.com.br/images/imagens/tablet2.jpg">
                        </div>
                    </div>

                    <div class="section-icon-name flaticon-smiley">
                        <span class="km-icon" data-icon=""></span>
                        12
                    </div>
                    <div class="section-icon-name flaticon-comment">
                        <span class="km-icon" data-icon=""></span>
                        <span>1</span> comentário
                    </div>
                </div>

                <!-- BOTÕES AÇÕES LIKE/COMENTAR/COMPARTILHAR -->
                <ul class="post-botoes">
                    <li class="section-icon-name flaticon-smiley">
                        <span class="km-icon" data-icon=""></span>
                    </li>

                    <li class="section-icon-name flaticon-comment">
                        <span class="km-icon" data-icon=""></span>
                    </li>

                    <li class="section-icon-name flaticon-share">
                        <span class="km-icon" data-icon=""></span>
                    </li>
                </ul>
            </li>

        </ul>
    </div>
        
</div>