<div id="mackz-mural" data-role="view" data-title="" data-layout="main-detail" data-model="app.muralView" 
     data-show="app.muralView.onShow">
    
    <div class="main-mural-wrap">
        <div id="header-minhas-publicacoes" class="section-name-wrap">
            <div class="section-icon-name flaticon-publication">
                <span class="km-icon" data-icon=""></span>
                <span>Minhas Publicações</span>
            </div>
            <a class="link-x" data-bind="{ events: {click: muralViewModel.muralPublicacoesCloseClick} }"></a>
        </div>

        <div id="header-mural-publicacoes" class="section-name-wrap mural-header">
            <form class="section-name-wrap">
                <input id="tituloCompartilhar" placeholder="Compartilhe um artigo, foto ou ideia" type="text" x-onKeyUp="app.faqsView.faqsViewModel.filtraPesquisa(this.value)" class="faq-pesquisa bg-claro">
                <div class="mural-header-icons">
                    <div class="section-icon-name flaticon-post">
                        <span class="km-icon" data-icon="" data-bind="{ events: {click: muralViewModel.mensagemClick} }"></span>
                    </div>
                    <div class="section-icon-name flaticon-camera">
                        <span class="km-icon" data-icon="" data-bind="{ events: {click: muralViewModel.cameraClick} }"></span>
                    </div>
                </div>
                <!-- Combobox disciplinas -->
                <div class="comboBox-wrap">
                    <p class="combo-descricao">Selecione um componente:</p>
                    <select id="comboBox" class="comboBox" name="componente-select">
                        <option value="1" selected="selected">Opção 1</option>
                        <option value="2">Opção 2</option>
                        <option value="3">Opção 3</option>
                    </select>  
                </div>
            </form>    
        </div>
            
        <div id="header-mural-mensagem" class="section-name-wrap mural-header" style="display:none">
            <form class="section-name-wrap">
                <textarea id="novaMensagem" placeholder="Digite aqui sua publicação" type="text" rows="2" x-onKeyUp="app.faqsView.faqsViewModel.filtraPesquisa(this.value)" class="faq-pesquisa bg-claro"></textarea>
                <div class="mural-header-icons">
                    <div class="section-icon-name flaticon-comment-ok">
                        <span class="km-icon" data-icon="" data-bind="{ events: {click: muralViewModel.muralSendMsgClick} }"></span>
                    </div>
                    <div class="section-icon-name flaticon-comment-cancel">
                        <span class="km-icon" data-icon="" data-bind="{ events: {click: muralViewModel.muralCancelMsgClick} }"></span>
                    </div>
                </div>
            </form>
        </div>         
    </div>

    <div id="muralList" class="aval-wrap aval-praticas" xstyle="display:none">
        <ul id="muralListView" class="masterDetailView" data-role="listview" data-auto-bind="false" data-style="" data-template="muralTemplate" 
            data-bind="{ source: muralViewModel.dataSource }" data-pull-to-refresh="true" data-endless-scroll="false"
            id="muralDetail">
        </ul>
    </div>


    <script type="text/x-kendo-template" id="muralTemplate">
        # data = app.muralView.muralViewModel.fixHierarchicalData(data); #
        # console.log('data:', data) #

        <div class="mural-conteudo-wrap">
            <ul class="masterDetailView km-widget km-listview km-list" data-role="listview">

                <li class="bg-branco">

                    <!-- NOME DO USUÁRIO QUE POSTOU -->
                    <div class="post-user">
                        <div class="user-thumb mural-thumb thumb-sm">
                            # if (data.User.fotoUri && data.User.fotoUri != "") { #
                            <span class="km-thumbnail" data-bind="" style="background-image: url( #: data.User.fotoUri # )"></span>
                            # } else { #
                            <span class="km-thumbnail" data-bind="" style="background-image: url(../../styles/images/user-male.png)"></span>
                            # } #
                        </div>

                        <h4>#: data['User']['DisplayName'] #</h4>

                        <div class="section-icon-name flaticon-clock">
                            <span class="km-icon" data-icon=""></span>
                            #: data['TempoPublicacao'] #
                        </div>
                    </div>

                    <!-- CONTEÚDO DO POST -->
                    <div class="post-conteudo-wrap">
                        <div class="post-conteudo">
                            <p>#: data['Titulo'] #</p>
                            <div class="post-imagem">
                                # if (data.Tipo && data.Tipo == "image") { #
                                    # if (data.AnexoUri && data.AnexoUri != "") { #
                                    <span style="background-image: url( #: data.AnexoUri # )"></span>
                                    <img src=" #: data.AnexoUri # "/>
                                    # } #
                                # } #

                                # if (data.Tipo && data.Tipo == "msg") { #
                                    <p>#= data.Texto #</p>
                                # } #

                                # if (data.Tipo && data.Tipo == "video") { #
                                    <video controls> 
                                      <source src="#: data.AnexoUri #" type="video/mp4">
                                    </video>
                                # } #

                                <!-- ADICIONAR AQUI OS MODELOS PARA OS OUTROS TIPOS -->
                            </div>
                        </div>

                        <div class="section-icon-name flaticon-smiley">
                            <span class="km-icon" data-icon=""></span>
                            <span id="likesCount">#: data.Likes.length #</span>
                        </div>
                        <div class="section-icon-name flaticon-comment">
                            <span class="km-icon" data-icon=""></span>
                            <a data-bind="{ events: {click: muralCommentsListClick} }"><span id="commentsCount">#: data.Comentarios.length #</span> comentário(s)</a>
                        </div>
                    </div>

                    <!-- BOTÕES AÇÕES LIKE/COMENTAR/COMPARTILHAR -->
                    <ul class="post-botoes">
                        #console.log('liked: ',data.AlreadyLike);#
                        # if (data.AlreadyLike) { #
                            <li class="section-icon-name flaticon-smiley smiley-curtiu"> <!-- style="background-color: blue" -->
                                <span class="km-icon" data-icon="" data-bind="{ events: {click: muralLikeClick} }"></span>
                            </li>
                        # } else { #
                            <li class="section-icon-name flaticon-smiley">
                                <span class="km-icon" data-icon="" data-bind="{ events: {click: muralLikeClick} }"></span>
                            </li>
                        # } #

                        <li class="section-icon-name flaticon-comment">
                            <span class="km-icon" data-icon="" data-bind="{ events: {click: muralCommentClick} }"></span>
                        </li>

                        <li class="section-icon-name flaticon-share">
                            <span class="km-icon" data-icon="" data-bind="{ events: {click: muralShareClick} }"></span>
                        </li>
                    </ul>

                    <div class="novo-comentario-wrap">
                        <div id="header-mural-comentario" class="section-name-wrap mural-header" style="display:none">
                            <form class="section-name-wrap">
                                <textarea id="novoComentario" placeholder="Digite aqui seu comentário" type="text" rows="2" x-onKeyUp="app.faqsView.faqsViewModel.filtraPesquisa(this.value)" class="faq-pesquisa bg-claro"></textarea>
                                <div class="mural-header-icons">
                                    <div class="section-icon-name flaticon-comment-ok">
                                        <span class="km-icon" data-icon="" data-bind="{ events: {click: muralSendCommentClick} }"></span>
                                    </div>
                                    <div class="section-icon-name flaticon-comment-cancel">
                                        <span class="km-icon" data-icon="" data-bind="{ events: {click: muralCancelCommentClick} }"></span>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div id="header-mural-comentario-list" class="section-name-wrap mural-header" style="display:none">
                            Lista de comentários
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </script>

    <script type="text/x-kendo-template" id="comment-list-template">
        <ul>
        # for (var i = 0; i < data.length; i++) { #
            <li>
                <p>#: data[i].Comentario #</p>
                <div>#: data[i].User.DisplayName #</div>
            </li>
        # } #
        </ul>
    </script>

</div>