*/bin
*/obj
*.user-settings.xml
splash/^927CBCB94D688FBDE62CDD08395615CAD0696BF9ED6ABAE0FC^pimgpsh_fullsize_distr.jpg
splash/^E82BD8D3DD69CADE607DB2A61C01AEB01CEAA02ADAF0115D9F^pimgpsh_fullsize_distr.jpg
Mackenzie/dataProviders/app.config
