<div id="cursos" data-role="view" data-title="" data-layout="main-detail" data-model="app.faqsView" 
     data-show="app.faqsView.onShow" data-after-show="app.faqsView.afterShow">
    
    <div>Perguntas Frequentes</div>
    
    <form>
        <input id="Pesquisa" placeholder="Pesquisar FAQ" type="text" onKeyUp="app.faqsView.faqsViewModel.filtraPesquisa(this.value)">
    </form>


    <div class="masterDetailView" data-role="listview" data-auto-bind="false" data-style="" data-template="faqsViewModelTemplate" 
        data-bind="{ source: faqsViewModel.dataSource, events: {click: faqsViewModel.itemClick} }" data-pull-to-refresh="true" data-endless-scroll="true">
    </div>

    <script type="text/x-kendo-template" id="faqsViewModelTemplate">            
        <div class="image-with-text">
            # data = app.faqsView.faqsViewModel.fixHierarchicalData(data); #
            <h3>#: data['Titulo'] #</h3>
        </div>
    </script>
</div>