<div id="mackz-faq" data-role="view" data-title="" data-layout="main" data-model="app.faqsView" 
     data-show="app.faqsView.onShow" data-after-show="app.faqsView.afterShow">
    
    <!-- <div class="section-name-wrap">
        <div class="section-icon-name flaticon-faq">
            <span class="km-icon" data-icon=""></span> 
            <span>Perguntas Frequentes</span>
        </div>
        <a class="link-x" data-bind="{ events: { click: faqsViewModel.faqsClose } }"></a>
    </div> -->
    
    <form class="section-name-wrap">
        <input id="Pesquisa" placeholder="Pesquisar FAQ" type="text" onKeyUp="app.faqsView.faqsViewModel.filtraPesquisa(this.value)" class="faq-pesquisa bg-claro">
        <button class="faq-reset bg-branco" type="reset">Cancelar</button>
    </form>


    <div class="masterDetailView" data-role="listview" data-auto-bind="false" data-style="" data-template="faqsViewModelTemplate" 
        data-bind="{ source: faqsViewModel.dataSource, events: {click: faqsViewModel.itemClick} }" data-pull-to-refresh="true" data-endless-scroll="true">
    </div>

    <script type="text/x-kendo-template" id="faqsViewModelTemplate">            
        <div class="image-with-text">
            # data = app.faqsView.faqsViewModel.fixHierarchicalData(data); #
            <h3>#: data['Titulo'] #</h3>
        </div>
    </script>
</div>