<div data-role="view" data-title="Disciplinas" data-layout="main" data-model="app.disciplinasView" data-show="app.disciplinasView.onShow" data-after-show="app.disciplinasView.afterShow">

    <!-- START_CUSTOM_CODE_disciplinasView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_disciplinasView -->
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <a data-role="backbutton" data-align="left" class="backButtonWrapper" style="display: none;">Back</a>
            <span data-role="view-title"></span>

            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>


        </div>
    </header>


    <ul class="masterDetailView" data-role="listview" data-auto-bind="false" data-style="inset" data-template="disciplinasViewModelTemplate" data-bind="{ source: disciplinasViewModel.dataSource, events: {click: disciplinasViewModel.itemClick} }" data-pull-to-refresh="false"
    data-endless-scroll="false">
    </ul>


    <!-- START_CUSTOM_CODE_disciplinasViewModel -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_disciplinasViewModel -->
    <script type="text/x-kendo-template" id="disciplinasViewModelTemplate">
        <div class="image-with-text">
            # data = app.disciplinasView.disciplinasViewModel.fixHierarchicalData(data); #

            <h3>#: data['Nome'] #</h3>

        </div>
    </script>
</div>