<div id="disciplinas" data-role="view" data-title="" data-layout="main-tab" data-model="app.disciplinasView" 
     data-show="app.disciplinasView.onShow" xdata-after-show="app.disciplinasView.afterShow">

     <!--<form>
        <ul class="form-content" data-role="listview" data-style="inset">
            <li class="form-content-item">
                <input id="Pesquisa" placeholder="Pesquisar Disciplina" type="text" onKeyUp="app.disciplinasView.disciplinasViewModel.filtraPesquisa(this.value)">
            </li>                    
        </ul>
    </form>-->

    <ul class="masterDetailView" data-role="listview" data-auto-bind="false" data-style="inset" data-template="disciplinasViewModelTemplate" 
        data-bind="{ source: disciplinasViewModel.dataSource, events: {click: disciplinasViewModel.itemClick} }" data-pull-to-refresh="false"
        data-endless-scroll="false">
    </ul>


    <script type="text/x-kendo-template" id="disciplinasViewModelTemplate">
        <div class="user-thumb prof-thumb thumb-md">
            <img id="foto" class="km-thumbnail" src="styles/images/user-male.png" alt="Your photo">
        </div>
        <div class="image-with-text">
            # data = app.disciplinasView.disciplinasViewModel.fixHierarchicalData(data); #
            <h3>#: data['Nome'] #</h3>
        </div>
        <label class="km-label-above">
            # nomeProfessor = data.Professor && data.Professor.Nome ? data.Professor.Nome : ''; #
            <span>#: nomeProfessor #</span><br>
            <span class="unid-turma-sala unid">FCI</span>
            <span class="unid-turma-sala turma">3A</span>
            <span class="unid-turma-sala sala">701</span>
        </label>
    </script>
</div>