<div data-role="view" data-title="Detail Curso" data-layout="main-detail" data-model="app.cursosView.cursosViewModel" data-bind="events: { show: detailsShow }" id="cursosViewModelDetailsView">
    <a data-role="backbutton" data-align="left">Back</a>
    <h3>Curso:</h3><h3 data-bind="text: currentItem['Curso']"></h3>

    <ul id="select-period">
        <li>
            1º Sem
        </li>
        <li>
            2º Sem
        </li>
        <li>
            3º Sem
        </li>
        <li>
            4º Sem
        </li>
        <li>
            5º Sem
        </li>
    </ul>

    <div data-role="tabstrip" id="tabStrip">
        <a href="#disciplinas">Disciplinas</a>
        <a href="#agenda">Agenda</a>
    </div>

    <div id="disciplinas">disciplina</div>
    <div id="agenda">agenda</div>

    <ul class="masterDetailView" data-role="listview" data-auto-bind="false" data-template="disciplinasViewModelTemplate" data-bind="{ source: currentItemDisciplinas, events: {click: disciplinaClick} }" data-pull-to-refresh="false" data-endless-scroll="false">
    </ul>

    <script type="text/x-kendo-template" id="disciplinasViewModelTemplate">
        <div class="image-with-text">
            # data = app.disciplinasView.disciplinasViewModel.fixHierarchicalData(data); #

            <h3>#: data['Nome'] #</h3>

        </div>
    </script>
</div>