<div id="cursos" data-role="view" data-title="" data-layout="main-tab" data-model="app.cursosView" 
     data-show="app.cursosView.onShow"
     x-data-after-show="app.cursosView.afterShow"
     x-data-before-show="app.cursosView.onBeforeShow">

    <ul id="cursos-list" class="masterDetailView" data-role="listview" data-auto-bind="false" data-style="" data-template="cursosViewModelTemplate" 
        xdata-show="app.cursosView.onShow"
        data-bind="{ source: cursosViewModel.dataSource, events: {click: cursosViewModel.itemClick} }" data-pull-to-refresh="false" data-endless-scroll="true">
    </ul>

    <script type="text/x-kendo-template" id="cursosViewModelTemplate">
            
        <div class="image-with-text">
            # data = app.cursosView.cursosViewModel.fixHierarchicalData(data); #

            <h3>#: data['Curso'] #</h3>

        </div>
        
        <label class="km-label-above">

            <span>Duração: #: data['Duracao'] # semestres</span>

        </label>
    </script>
</div>