<div id="avaliacoes" data-role="view" data-title="" data-layout="main" data-model="app.avaliacoesView"
     xdata-init="app.avaliacoesView.onInit" data-show="app.avaliacoesView.onShow">

    <!-- <div class="section-name-wrap">
        <div class="section-icon-name flaticon-tests">
            <span class="km-icon" data-icon="info"></span> 
            <span>Quiz</span>
        </div>
        <a class="link-x" data-bind="{ events: { click: avaliacoesViewModel.avaliacoesClose } }"></a>
    </div> -->

    <div id="avaliacoesData" class="aval-wrap aval-praticas" xstyle="display:none">
        <ul class="masterDetailView" data-role="listview" data-auto-bind="false" data-style="" data-template="avaliacoesViewModelTemplate" 
            xdata-show="app.avaliacoesView.onShow"
            data-bind="{ source: avaliacoesViewModel.dataSource }" data-pull-to-refresh="true" data-endless-scroll="false"
            id="avaliacoesDetailView">
        </ul>
    </div>

    <script type="text/x-kendo-template" id="avaliacoesViewModelTemplate">
        <div>
            # data = app.avaliacoesView.avaliacoesViewModel.fixHierarchicalData(data); #
            #console.log(data); #

            # if (data.showDisciplina) { #
            <h3>#: data['Disciplina']['Nome'] #</h3>
            # } #

            <div class="prof-disciplina-wrap">
                <div class="user-thumb rank-thumb thumb-sm">
                    <img class="km-thumbnail" src="../../styles/images/user-male.png" alt="Your photo">
                </div>
                <p><span>#: data['Disciplina']['Professor']['Nome'] #<span><br>
                    # professor = data.Disciplina && data.Disciplina.Professor ? data.Disciplina.Professor : undefined; #
                    # unidade = professor && professor.Unidade ? professor.Unidade : '?'; #
                    # turma = professor && professor.Turma ? professor.Turma : '?'; #
                    # sala = professor && professor.Sala ? professor.Sala : '?'; #

                    <span class="unid-turma-sala unid">#: unidade #</span>
                    <span class="unid-turma-sala turma">#: turma #</span>
                    <span class="unid-turma-sala sala">#: sala #</span>
                </p>
            </div>

            <div class="tipo-avaliacao-wrap valido">
                <p><span class="km-icon" data-icon="i-film"></span>#: data['Titulo'] #</p>
                <p><b>#: data['ExpiracaoText'] #</b></p>
            </div>

            # situacao = data.Situacao.toLowerCase(); #

            # if (situacao == 'expirado') { #
                <a class="realizado-button" data-role="button" data-align="left" data-bind="{ events: { click: avaliacoesViewModel.jaRealizadoClick} }">0/#: data.Pontos # Ponto(s)</a>
            # } else { #
                # if (situacao == 'realizado') { #
                <a class="realizado-button" data-role="button" data-align="left" data-bind="{ events: { click: avaliacoesViewModel.jaRealizadoClick} }">#: data.Respostas.Pontos #/#: data.Pontos # Ponto(s)</a>
                # } else { #
                <a class="valido-button" data-role="button" data-align="left" data-bind="{ events: { click: avaliacoesViewModel.itemClick} }">Até #: data['Pontos'] # Pontos</a>
                # } #
            # } #
        </div>
    </script>
</div>