<div id="avaliacoes" data-role="view" data-title="" data-layout="main-detail" data-model="app.avaliacoesView"
     xdata-init="app.avaliacoesView.onInit" data-show="app.avaliacoesView.onShow" data-after-show="app.avaliacoesView.afterShow">

    <div class="section-name-wrap">
        <div class="section-icon-name flaticon-tests">
            <span class="km-icon" data-icon="info"></span>
            <span>Avaliações Práticas</span>
        </div>
        <a class="link-x" data-bind="{ events: { click: avaliacoesViewModel.avaliacoesClose } }"></a>
    </div>

    <div class="aval-wrap aval-praticas">
        <ul class="masterDetailView" data-role="listview" data-auto-bind="false" data-style="" data-template="avaliacoesViewModelTemplate" 
            xdata-show="app.avaliacoesView.onShow"
            data-bind="{ source: avaliacoesViewModel.dataSource }" data-pull-to-refresh="true" data-endless-scroll="false"
            id="avaliacoesDetailView">
        </ul>
    </div>

    <script type="text/x-kendo-template" id="avaliacoesViewModelTemplate">
        <div>
            # data = app.avaliacoesView.avaliacoesViewModel.fixHierarchicalData(data); #

            # if (data.showDisciplina) { #
            <h3>#: data['Disciplina']['Nome'] #</h3>
            # } #

            <div class="prof-disciplina-wrap">
                <div class="user-thumb rank-thumb thumb-sm">
                    <img class="km-thumbnail" src="../../styles/images/user-male.png" alt="Your photo">
                </div>
                <p>#: data['Disciplina']['Professor']['Nome'] #</p>
            </div>

            <div class="tipo-avaliacao-wrap valido">
                <p><span class="km-icon" data-icon="i-film"></span>#: data['Titulo'] #</p>
                <p><b>#: data['ExpiracaoText'] #</b></p>
            </div>

            # situacao = data.Situacao.toLowerCase(); #

            # if (situacao == 'expirado') { #
            <!--a class="expirado-button" data-role="button" data-align="left">Expirado</a-->
            # } else { #
                # if (situacao == 'realizado') { #
                <a class="realizado-button" data-role="button" data-align="left" data-bind="{ events: { click: avaliacoesViewModel.jaRealizadoClick} }">Já realizado</a>
                # } else { #
                <a class="valido-button" data-role="button" data-align="left" data-bind="{ events: { click: avaliacoesViewModel.itemClick} }">Até #: data['Pontos'] # Pontos</a>
                # } #
            # } #
        </div>
    </script>
</div>