/* CORES
	Vermelho: #EA2D2E;
	Vermelho-claro: #EA6A6A;
	Azul: #1486CC;
	Cinza: #CCC;
	Cinza1: rgba(0, 0, 0, 0.1);
	Cinza-claro: #F0F0F0;
	Cinza-claro2: #F5F5F5;
	Text-color: #4c5356;
*/

.km-flat .km-view .km-navbar,
.km-flat div[data-layout="main-nonav"] .km-content,
.km-flat .km-view .km-content .km-list > li .km-switch .km-switch-container,
.km-flat .km-view .km-content .km-list .km-state-active .km-listview-link,
.logo-img,
.km-loader,
.logo-mackenzie,
#kendoUiMobileApp .button-group .km-button,
.km-flat .km-view .km-footer .km-button,
.km-flat .km-view .km-footer .km-button.km-state-active,
.km-flat .km-view .km-content .km-button.km-state-active,
.avaliacoes-wrap #tabAvaliacoes .km-button.km-back,
.avaliacoes-wrap #tabPublicacoes .km-buttongroup .km-state-active,
.km-flat .km-view .disciplinas-wrap #agenda .km-buttongroup .km-state-active,
#tabAvaliacoes .chekin-link-wrap {
	background-color: #EA2D2E;
}

#modalview-message .km-footer,
#modalview-message .km-footer .km-widget,
#kendoUiMobileApp .km-listview-wrapper + .button-group-vertical .km-button,
#kendoUiMobileApp .user-thumb,
.km-flat .km-view .km-content .km-button,
.km-flat .km-view .km-content .descricao-wrap > .km-button.km-back.km-state-active,
.km-flat .km-view .km-content .avaliacoes-wrap .prox-aula .km-button.km-state-active,
.km-flat .km-view .km-content .km-button.km-back.km-state-active,
#kendoUiMobileApp .aval-praticas .tipo-avaliacao-wrap + .km-button.km-state-active,
#kendoUiMobileApp div[data-show^="app.avaliacoesView."] .section-name-wrap .km-back {
	background-color: transparent;
}

.or-text::before,
.or-text::after,
.section-name-wrap,
.km-header .km-navbar .km-leftitem a[data-rel="drawer"],
.km-header .km-navbar .km-leftitem a[data-rel="drawer"]::before,
.km-header .km-navbar .km-leftitem a[data-rel="drawer"]::after,
.user-thumb,
#modalview-message .km-footer .km-rightitem,
#modalview-message .km-footer .km-leftitem,
#modalview-message .km-content,
#modalview-message .km-footer .km-rightitem,
#modalview-message .km-footer .km-leftitem,
#modalview-message .km-footer #modalview-message-ok,
#appDrawer .km-content,
#kendoUiMobileApp .masterDetailView #header-mural-comentario form > textarea,
div[data-layout="main-aceite"] .km-content .privac-texto,
.km-flat div[data-model="app.perfilView"].km-view .km-content,
#perfilViewModel.form-view,
#rankings #rankingsData,
#kendoUiMobileApp #mackz-faq + .km-widget .texto-wrap,
#kendoUiMobileApp #tabAvaliacoes,
/*#kendoUiMobileApp [data-model*="app.avaliacoesView"] .km-scroll-container,*/
#kendoUiMobileApp .k-nonwork-hour,
#kendoUiMobileApp .mural-header .mural-header-icons + .comboBox-wrap .comboBox,
#kendoUiMobileApp .km-content > .km-scroll-container > h3[data-bind*=".Disciplina"],
#kendoUiMobileApp .km-content > .km-scroll-container > h3 + .prof-disciplina-wrap,
#kendoUiMobileApp div[data-show^="app.avaliacoesView."] .prof-disciplina-wrap + .section-icon-name,
#kendoUiMobileApp div[data-show^="app.avaliacoesView."] .prof-disciplina-wrap + .section-icon-name + p {
	background-color: #FFF;
}

/**************************/
/*** BORDER COLOR GERAL ***/
/**************************/
.descricao-wrap,
.section-name-wrap,
#perfilViewModel .form-content-item,
#kendoUiMobileApp div[data-show^="app.avaliacoesView."] .prof-disciplina-wrap + .section-icon-name + p,
.km-flat .km-view .km-header > .km-tabstrip,
.km-flat .km-view .km-header > .km-tabstrip .km-button.km-state-active,
#rankingsData .descricao-wrap > .descricao-disc,
.avaliacoes-wrap .prox-aula,
#navigation-container li,
#kendoUiMobileApp div[data-show^="app.avaliacoesView."] .section-name-wrap .km-back,
#kendoUiMobileApp .km-scroll-wrapper .masterDetailView > li,
.descricao-wrap > .descricao-disc .km-button.km-back ,
.avaliacoes-wrap #tabPublicacoes .km-buttongroup:first-of-type li,
.avaliacoes-wrap #tabPublicacoes #first-period-2 .km-button.km-state-active,
.avaliacoes-wrap #tabPublicacoes #first-period-2,
.km-flat .km-view .disciplinas-wrap .km-buttongroup li,
.km-flat .km-view .descricao-wrap + .km-buttongroup .km-button,
.avaliacoes-wrap .prox-aula p + .km-button span,
#tabCursoAgenda #tabAgenda #scheduler .k-floatwrap:nth-child(2) .k-scheduler-navigation .k-nav-prev span,
#tabCursoAgenda #tabAgenda #scheduler .k-floatwrap:nth-child(2) .k-scheduler-navigation .k-nav-next span,
#kendoUiMobileApp #header-disciplinas-publicacoes form > textarea,
#kendoUiMobileApp .masterDetailView #header-mural-comentario form > textarea,
#kendoUiMobileApp .mural-header .mural-header-icons + .comboBox-wrap .comboBox {
	border-color: #CCC;
}
.descricao-wrap,
.section-name-wrap,
#kendoUiMobileApp div[data-show^="app.avaliacoesView."] .prof-disciplina-wrap + .section-icon-name + p,
.km-flat .km-view .km-header > .km-tabstrip,
.km-flat .km-view .km-header > .km-tabstrip .km-button.km-state-active,
#rankingsData .descricao-wrap > .descricao-disc,
.avaliacoes-wrap .prox-aula,
.avaliacoes-wrap #tabPublicacoes #first-period-2 .km-button.km-state-active {
	border-bottom-style: solid;
}
.descricao-wrap,
.section-name-wrap,
#kendoUiMobileApp div[data-show^="app.avaliacoesView."] .prof-disciplina-wrap + .section-icon-name + p,
.km-flat .km-view .km-header > .km-tabstrip,
#rankingsData .descricao-wrap > .descricao-disc,
.avaliacoes-wrap .prox-aula {
	border-bottom-width: 1px;
}
.km-flat .km-view .km-header > .km-tabstrip .km-button.km-state-active,
.avaliacoes-wrap #tabPublicacoes #first-period-2 .km-button.km-state-active {
	border-bottom-width: 3px;
}


/**************************/
/*** PADDING-TOP HEADER ***/
/**************************/
#avaliacoes .km-scroll-header + .km-scroll-container,
#rankings .km-scroll-header + .km-scroll-container,
#perfilViewModel.form-view,
#mackz-faq .km-scroll-header + .km-scroll-container,
[data-model^="app.avaliacoesView"] .km-scroll-header + .km-scroll-container {
	padding-top: 47px;
}

/************************************/
/*** PADDING/MARGIN-BOTTOM FOOTER ***/
/************************************/
#kendoUiMobileApp .masterDetailView li[data-uid]:last-child,
.km-scroll-header + .km-scroll-container,
[data-model^="app.avaliacoesView"] .km-scroll-header + .km-scroll-container {
	margin-bottom: 45px;
}

#tabCursoAgenda #tabAgenda #scheduler .k-floatwrap + table:last-child,
#tabCursoAgenda #tabAgenda #scheduler .k-scheduler-footer,
#kendoUiMobileApp #mackz-faq + .km-widget .texto-wrap {
	padding-bottom: 45px;
}

#tabCursoAgenda #tabAgenda #scheduler .k-scheduler-agenda {
	padding-bottom: 3em;
}

/**************************/
/**** AUXILIAR CLASSES ****/
/**************************/
.thumb-sm {
	height: 30px;
	width: 30px;
}
.thumb-md {
	height: 40px;
	width: 40px;
}
.thumb-xmd {
	height: 45px;
	width: 45px;
}
.thumb-lg {
	height: 70px;
	width: 70px;
}


/***************************/
/****** COLOR CLASSES ******/
/***************************/
#kendoUiMobileApp .bg-branco {
	background-color: #FFF;
}
#rankingsData .sua-posicao + .km-listview-wrapper > .masterDetailView > li,
#kendoUiMobileApp #update-mural-publicacoes,
#kendoUiMobileApp #reply-mural-publicacoes,
#kendoUiMobileApp .km-flat .km-list .bg-claro,
#kendoUiMobileApp .bg-claro {
	background-color: #F0F0F0;
}
#kendoUiMobileApp .bg-medio {
	background-color: rgba(0, 0, 0, 0.1);
}


/***************************/
/****** MEDIA SCREENS ******/
/***************************/
@media screen and (min-device-width: 480px) and (max-device-width: 767px) {

	#kendoUiMobileApp .km-header,
	#kendoUiMobileApp .descricao-wrap > .descricao-disc {
		height: 50px;
	}
		#kendoUiMobileApp .descricao-wrap > .descricao-disc .km-button.km-back {
			padding: 0 0.6em;
			margin-top: 0.75em;
		}

}

@media screen and (device-width: 480px) {

	.avaliacoes-wrap .prox-aula .grupo-wrap .km-button {
		padding-right: 0.3em;
	}
	
}

@media screen and (min-device-width: 480px) {

	#kendoUiMobileApp .descricao-wrap > .descricao-prof {
		margin-top: -5px;
	}

	#kendoUiMobileApp div[data-layout="main-aceite"] .km-view-title {
		display: flex;
		align-items: center;
		justify-content: center;
	}
		#kendoUiMobileApp div[data-layout="main-aceite"] .km-view-title .logo-mackenzie {
			margin: 0;
			padding: 0.3em 0;
		}
		#kendoUiMobileApp div[data-layout="main-aceite"] .km-view-title h4 {
		    margin: 0 0 0 1em;
		    text-align: left;
		    white-space: normal;
		}

	.avaliacoes-wrap .prox-aula .km-button + .grupo-wrap {
		width: auto;
	}

	.avaliacoes-wrap .prox-aula p + .km-button {
		height: 60px;
	}
		.avaliacoes-wrap .prox-aula p + .km-button span {
			margin-top: 1em;
		}

	#kendoUiMobileApp #disciplinas .km-listview-wrapper li .prof-thumb + .image-with-text,
	#kendoUiMobileApp #disciplinas .km-listview-wrapper li label,
	#kendoUiMobileApp #tabCursoDisciplinas .km-listview-wrapper li .prof-thumb + .image-with-text,
	#kendoUiMobileApp #tabCursoDisciplinas .km-listview-wrapper li label {
		width: 88%;
	}

	#mackz-faq .km-scroll-wrapper .masterDetailView li .image-with-text::after {
		height: 20px;
		width: 20px;
		top: -0.15em;
	}

	#disciplinasViewModelDetailsView #tabPublicacoes #first-period-2 {
		padding: 0 15%;
	}

	#tabCursoAgenda #tabAgenda #scheduler .k-floatwrap {
		padding: 0.45em 6em;
	}

}

@media screen and (min-device-width: 568px) {

	div[data-url="components/home/view.html"] .km-content .km-scroll-container,
	.masterDetailView:not(.km-virtual-list) li .image-with-text,
	.masterDetailView:not(.km-virtual-list) li .km-label-above,
	#mackz-faq .km-scroll-wrapper .masterDetailView li .image-with-text {
		width: 70%;
	}

	.km-flat .km-view .descricao-wrap + .km-buttongroup,
	.km-flat .km-view .disciplinas-wrap .details-content,
	#kendoUiMobileApp .avaliacoes-wrap .aval-praticas .km-listview-wrapper li,
	.avaliacoes-wrap #tabPublicacoes .km-buttongroup:first-of-type,
	#tabPublicacoes .lista-arquivos {
		width: 75%;
	}

	div[data-url="components/home/view.html"] .km-content .km-scroll-container,
	.km-flat .km-view .disciplinas-wrap .details-content,
	#kendoUiMobileApp .avaliacoes-wrap .aval-praticas .km-listview-wrapper li,
	#tabPublicacoes .lista-arquivos,
	#mackz-faq .km-scroll-wrapper .masterDetailView li .image-with-text {
		margin: 0 auto;
	}

	.masterDetailView li .km-label-above {
		display: block;
	}

	.avaliacoes-wrap .prox-aula p + .km-button {
		width: 120px;
	}

	#cursos .km-scroll-container > .km-listview-wrapper:only-of-type .masterDetailView li:nth-child(3)::after {
		right: 10%;
	}
	#cursos .km-scroll-wrapper .km-listview-wrapper li:not(.km-load-more) .image-with-text,
	#kendoUiMobileApp #disciplinas .km-listview-wrapper li .prof-thumb + .image-with-text,
	#kendoUiMobileApp #disciplinas .km-listview-wrapper li label {
		padding-right: 0;
	}
	.km-scroll-container > .km-listview-wrapper:only-of-type .masterDetailView  >li::after,
	#tabCursoDisciplinas .km-listview-wrapper .masterDetailView > li::after,
	#mackz-faq .km-listview-wrapper .masterDetailView > li::after {
		right: 13%;
	}

	#kendoUiMobileApp .km-scroll-wrapper .masterDetailView li,
	#kendoUiMobileApp #avaliacoes .aval-praticas .masterDetailView li,
	#rankings .km-scroll-wrapper .masterDetailView li[data-uid],
	#rankings .km-scroll-wrapper .rank-descricao {
		padding: 1em 15% 1em 10%;
	}
	#rankings .km-scroll-wrapper .sua-posicao {
		padding-right: 20%;
		padding-left: 20%;
	}
		#kendoUiMobileApp .masterDetailView li .image-with-text {
			position: relative;
		}
		#kendoUiMobileApp .masterDetailView li .image-with-text::after {
			top: 0.2em;
			right: 0;
		}

	#mackz-faq form.section-name-wrap {
		padding-right: 15%;
		padding-left: 15%;
	}
		#kendoUiMobileApp #mackz-faq .masterDetailView li {
			padding: 1em;
		}

	#perfilViewModel form {
		padding: 1em 20% 4em;
	}

}

@media screen and (min-device-width: 375px) {
	
	html.km-root { font-size: 16px; }

}

@media screen and (min-device-width: 667px) {

	#appDrawer { width: 50%; }

	div[data-url="components/home/termoAceite.html"] .km-content .privac-texto {
		width: 80%;
		margin: 0 auto
	}

	#kendoUiMobileApp .km-scroll-wrapper .masterDetailView li,
	#kendoUiMobileApp #avaliacoes .aval-praticas .masterDetailView li,
	#rankings .km-scroll-wrapper .masterDetailView li[data-uid],
	#rankings .km-scroll-wrapper .rank-descricao {
		padding: 1em 15%;
	}

	.avaliacoes-wrap .prox-aula {
		padding: 0 15% 1em;
	}
		.avaliacoes-wrap .prox-aula .grupo-wrap .km-button {
			padding-right: 0.6em;
		}

	div.section-name-wrap:not(.mural-header) {
		height: 60px;
	}

	form.section-name-wrap {
		padding: 0.35em 1em;
	}


	/* CABEÇALHO DO MURAL */
	#mackz-mural .mural-header form,
	#header-disciplinas-publicacoes form {
		padding-bottom: 1em;
	}

	.main-mural-wrap {
			padding: 1em 4em 0.5em;
	}
	#muralList {
		padding: 1em 4em 0;
	}

	/* PUBLIQUE NO MURAL */
	#kendoUiMobileApp .mural-header .mural-header-icons + .comboBox-wrap .comboBox {
		font-size: 1em;
	}
	#kendoUiMobileApp .mural-header .mural-header-icons + .comboBox-wrap .comboBox option {
		font-size: 0.6em;
	}

	#kendoUiMobileApp #header-mural-publicacoes {
		box-shadow: 2px 2px 2px 2px #CCC;
	}


	/* PUBLICAÇÕES DO MURAL */
	#kendoUiMobileApp #muralList #muralListView > li[data-uid] {
		margin-bottom: 1.5em;
		box-shadow: 2px 2px 2px 2px #CCC;
	}

	#kendoUiMobileApp .mural-conteudo-wrap .masterDetailView .post-user:not(.head-post-compartilhado) {
		border-top: 0;
	}

	#kendoUiMobileApp .mural-conteudo-wrap .masterDetailView .mural-thumb + h4,
	#kendoUiMobileApp .mural-conteudo-wrap .masterDetailView .mural-thumb + h4 + span {
		margin-top: 0.1em;
	}
	#kendoUiMobileApp .mural-conteudo-wrap .masterDetailView .post-user .section-icon-name.flaticon-clock {
		left: 3.8em;
		bottom: 0.4em;
	}
		#kendoUiMobileApp .mural-conteudo-wrap .masterDetailView .post-user .section-icon-name.flaticon-clock .km-icon::before {
			top: 3px;
		}

	/* POPUP MENIU DE OPÇÕES DO MURAL */
	.km-popup-overlay.km-actionsheet-root .k-animation-container,
	.km-popup-overlay.km-actionsheet-root .k-animation-container .km-popup-wrapper {
		width: 16em !important;
	}

	.km-flat .km-actionsheet-wrapper.km-popup {
		padding: 0;
	}

}

@media screen and (min-device-width: 736px) {

	.avaliacoes-wrap .prox-aula p + .km-button {
		width: 180px;
	}

}

@media screen and (min-device-width: 768px) {

	html.km-root {font-size: 20px;}

	.descricao-wrap > .descricao-disc .km-button.km-back {
		height: 37px;
	}

	.km-flat .km-view .km-footer {
		height: 60px;
	}
		.km-flat .km-view .km-footer .km-icon {
			font-size: 40px;
		}

	/* AGENDA */
	#tabCursoAgenda #tabAgenda #scheduler .k-scheduler-agendaview tr:nth-child(2) .k-scheduler-table tr .k-scheduler-datecolumn {
		padding: 0.3em 0.4em;
	}

}