/* CORES
	Vermelho: #EA2D2E;
	Azul: #1486CC;
	Cinza: #CCC;
	Cinza1: rgba(0, 0, 0, 0.1);
	Cinza-claro: #F0F0F0;
	Cinza-claro2: #F5F5F5;
	Text-color: #4c5356;
*/

.km-flat .km-view .km-navbar,
.km-flat div[data-layout="main-nonav"] .km-content,
.km-flat .km-view .km-content .km-list > li .km-switch .km-switch-container,
.km-flat .km-view .km-content .km-list .km-state-active .km-listview-link,
.logo-img,
.km-loader,
.logo-mackenzie,
#kendoUiMobileApp .button-group .km-button,
.km-flat .km-view .km-footer .km-button,
.km-flat .km-view .km-footer .km-button.km-state-active,
.km-flat .km-view .km-content .km-button.km-state-active,
.avaliacoes-wrap #tabAvaliacoes .km-button.km-back,
.avaliacoes-wrap #tabPublicacoes .km-buttongroup .km-state-active,
.km-flat .km-view .disciplinas-wrap #agenda .km-buttongroup .km-state-active {
	background-color: #EA2D2E;
}

#kendoUiMobileApp .km-listview-wrapper + .button-group-vertical .km-button,
.km-flat .km-view .km-content .km-button,
.km-flat .km-view .km-content .descricao-wrap > .km-button.km-back.km-state-active,
.km-flat .km-view .km-content .avaliacoes-wrap .prox-aula .km-button.km-state-active,
.km-flat .km-view .km-content .km-button.km-back.km-state-active,
#kendoUiMobileApp .aval-praticas .tipo-avaliacao-wrap + .km-button.km-state-active,
#kendoUiMobileApp div[data-show^="app.avaliacoesView."] .section-name-wrap .km-back {
	background-color: transparent;
}


/**************************/
/*** BORDER COLOR GERAL ***/
/**************************/
.descricao-wrap,
.section-name-wrap,
#perfilViewModel .form-content-item,
#kendoUiMobileApp div[data-show^="app.avaliacoesView."] .prof-disciplina-wrap + .section-icon-name + p,
.km-flat .km-view .km-header > .km-tabstrip,
.km-flat .km-view .km-header > .km-tabstrip .km-button.km-state-active,
#rankingsData .descricao-wrap > .descricao-disc,
.avaliacoes-wrap .prox-aula,
#navigation-container li,
#kendoUiMobileApp div[data-show^="app.avaliacoesView."] .section-name-wrap .km-back,
#kendoUiMobileApp .km-scroll-wrapper .masterDetailView > li,
.descricao-wrap > .descricao-disc .km-button.km-back ,
.avaliacoes-wrap #tabPublicacoes .km-buttongroup:first-of-type li,
.avaliacoes-wrap #tabPublicacoes #first-period-2 .km-button.km-state-active,
.avaliacoes-wrap #tabPublicacoes #first-period-2,
.km-flat .km-view .disciplinas-wrap .km-buttongroup li,
.km-flat .km-view .descricao-wrap + .km-buttongroup .km-button,
.avaliacoes-wrap .prox-aula p + .km-button span,
#tabCursoAgenda #tabAgenda #scheduler .k-floatwrap:nth-child(2) .k-scheduler-navigation .k-nav-prev span,
#tabCursoAgenda #tabAgenda #scheduler .k-floatwrap:nth-child(2) .k-scheduler-navigation .k-nav-next span,
#kendoUiMobileApp #header-disciplinas-publicacoes form > textarea,
#kendoUiMobileApp .mural-header form > textarea {
	border-color: #CCC;
}
.descricao-wrap,
.section-name-wrap,
#kendoUiMobileApp div[data-show^="app.avaliacoesView."] .prof-disciplina-wrap + .section-icon-name + p,
.km-flat .km-view .km-header > .km-tabstrip,
.km-flat .km-view .km-header > .km-tabstrip .km-button.km-state-active,
#rankingsData .descricao-wrap > .descricao-disc,
.avaliacoes-wrap .prox-aula,
.avaliacoes-wrap #tabPublicacoes #first-period-2 .km-button.km-state-active {
	border-bottom-style: solid;
}
.descricao-wrap,
.section-name-wrap,
#kendoUiMobileApp div[data-show^="app.avaliacoesView."] .prof-disciplina-wrap + .section-icon-name + p,
.km-flat .km-view .km-header > .km-tabstrip,
#rankingsData .descricao-wrap > .descricao-disc,
.avaliacoes-wrap .prox-aula {
	border-bottom-width: 1px;
}
.km-flat .km-view .km-header > .km-tabstrip .km-button.km-state-active,
.avaliacoes-wrap #tabPublicacoes #first-period-2 .km-button.km-state-active {
	border-bottom-width: 3px;
}


/**************************/
/*** PADDING-TOP HEADER ***/
/**************************/
/*#tabDisciplinas .km-scroll-header + .km-scroll-container,
#disciplinasViewModelDetailsView .km-scroll-header + .km-scroll-container,*/
#avaliacoes .km-scroll-header + .km-scroll-container,
#rankings .km-scroll-header + .km-scroll-container,
#perfilViewModel.form-view,
#mackz-faq .km-scroll-header + .km-scroll-container {
	padding-top: 47px;
}


/**************************/
/**** AUXILIAR CLASSES ****/
/**************************/
.thumb-sm {
	height: 30px;
	width: 30px;
}
.thumb-md {
	height: 40px;
	width: 40px;
}
.thumb-xmd {
	height: 45px;
	width: 45px;
}
.thumb-lg {
	height: 70px;
	width: 70px;
}


/***************************/
/****** COLOR CLASSES ******/
/***************************/
#kendoUiMobileApp .bg-branco {
	background-color: #fff;
}
#kendoUiMobileApp .km-flat .km-list .bg-claro,
#kendoUiMobileApp .bg-claro {
	background-color: #f0f0f0;
}
#kendoUiMobileApp .bg-medio {
	background-color: rgba(0, 0, 0, 0.1);
}


/***************************/
/***** QR CODE ANIMATE *****/
/***************************/
/*@keyframes QR-demo {
	0%, 15% {
		-webkit-transform: translate(10%, 4.5em);
			-ms-transform: translate(10%, 4.5em);
				transform: translate(10%, 4.5em);
	}
	60%, 100% {
		-webkit-transform: translate(130%, 4.5em);
			-ms-transform: translate(130%, 4.5em);
				transform: translate(130%, 4.5em);
	}

	0% {opacity: 0}
	15% {opacity: 1;}
	85% {opacity: 1;}
	100% {opacity: 0;}
}
	@-webkit-keyframes QR-demo {
		0%, 15% {
			-webkit-transform: translate(10%, 4.5em);
				-ms-transform: translate(10%, 4.5em);
					transform: translate(10%, 4.5em);
		}
		60%, 100% {
			-webkit-transform: translate(130%, 4.5em);
				-ms-transform: translate(130%, 4.5em);
					transform: translate(130%, 4.5em);
		}

		0% {opacity: 0;}
		15% {opacity: 1;}
		85% {opacity: 1;}
		100% {opacity: 0;}
	}

@keyframes smartphone-demo {
	0%, 15% {
		-webkit-transform: translate(0%, 1em);
			-ms-transform: translate(0%, 1em);
				transform: translate(0%, 1em);
	}
	60%, 100% {
		-webkit-transform: translate(-50%, 1em);
			-ms-transform: translate(-50%, 1em);
				transform: translate(-50%, 1em);
	}

	0% {opacity: 0;}
	15% {opacity: 1;}
	85% {opacity: 1;}
	100% {opacity: 0;}
}
	@-webkit-keyframes smartphone-demo {
		0%, 15% {
		-webkit-transform: translate(0%, 1em);
			-ms-transform: translate(0%, 1em);
				transform: translate(0%, 1em);
		}
		60%, 100% {
			-webkit-transform: translate(-50%, 1em);
				-ms-transform: translate(-50%, 1em);
					transform: translate(-50%, 1em);
		}

		0% {opacity: 0;}
		15% {opacity: 1;}
		85% {opacity: 1;}
		100% {opacity: 0;}
	}*/


/***************************/
/****** MEDIA SCREENS ******/
/***************************/
@media screen and (min-device-width: 480px) and (max-device-width: 767px) {

	#kendoUiMobileApp .km-header,
	#kendoUiMobileApp .descricao-wrap > .descricao-disc {
		height: 50px;
	}
		#kendoUiMobileApp .descricao-wrap > .descricao-disc .km-button.km-back {
			padding: 0 0.6em;
			margin-top: 0.75em;
		}

}

@media screen and (min-device-width: 480px) {

	#kendoUiMobileApp .descricao-wrap > .descricao-prof {
		margin-top: -5px;
	}

	#kendoUiMobileApp div[data-layout="main-aceite"] .km-view-title {
		display: flex;
		align-items: center;
		justify-content: center;
	}
		#kendoUiMobileApp div[data-layout="main-aceite"] .km-view-title .logo-mackenzie {
			margin: 0;
			padding: 0.3em 0;
		}
		#kendoUiMobileApp div[data-layout="main-aceite"] .km-view-title h4 {
		    margin: 0 0 0 1em;
		    text-align: left;
		    white-space: normal;
		}

	#mackz-faq .km-scroll-wrapper .masterDetailView li .image-with-text::after {
		height: 20px;
		width: 20px;
		top: -0.15em;
	}

	#disciplinasViewModelDetailsView #tabPublicacoes #first-period-2 {
		padding: 0 15%;
	}

}

@media screen and (min-device-width: 568px) {

	div[data-url="components/home/view.html"] .km-content .km-scroll-container,
	.masterDetailView:not(.km-virtual-list) li .image-with-text,
	.masterDetailView:not(.km-virtual-list) li .km-label-above,
	#mackz-faq .km-scroll-wrapper .masterDetailView li .image-with-text {
		width: 70%;
	}

	.km-flat .km-view .descricao-wrap + .km-buttongroup,
	.km-flat .km-view .disciplinas-wrap .details-content,
	#kendoUiMobileApp .avaliacoes-wrap .aval-praticas .km-listview-wrapper li,
	.avaliacoes-wrap #tabPublicacoes .km-buttongroup:first-of-type,
	#tabPublicacoes .lista-arquivos {
		width: 75%;
	}

	div[data-url="components/home/view.html"] .km-content .km-scroll-container,
	.km-flat .km-view .disciplinas-wrap .details-content,
	#kendoUiMobileApp .avaliacoes-wrap .aval-praticas .km-listview-wrapper li,
	#tabPublicacoes .lista-arquivos,
	#mackz-faq .km-scroll-wrapper .masterDetailView li .image-with-text {
		margin: 0 auto;
	}

	.masterDetailView li .km-label-above {
		display: block;
	}

	#cursos .km-scroll-container > .km-listview-wrapper:only-of-type .masterDetailView li:nth-child(3)::after {
		right: 10%;
	}
	#tabCursoDisciplinas .km-listview-wrapper .masterDetailView li::after {
		right: 15%;
	}

	#kendoUiMobileApp .km-scroll-wrapper .masterDetailView li,
	#kendoUiMobileApp #avaliacoes .aval-praticas .masterDetailView li,
	#rankings .km-scroll-wrapper .masterDetailView li[data-uid],
	#rankings .km-scroll-wrapper .rank-descricao {
		padding: 1em 15% 1em 10%;
	}
	#rankings .km-scroll-wrapper .sua-posicao {
		padding-right: 20%;
		padding-left: 20%;
	}
		#kendoUiMobileApp .masterDetailView li .image-with-text {
			position: relative;
		}
		#kendoUiMobileApp .masterDetailView li .image-with-text::after {
			top: 0.2em;
			right: 0;
		}

	#mackz-faq form.section-name-wrap {
		padding-right: 15%;
		padding-left: 15%;
	}
		#kendoUiMobileApp #mackz-faq .masterDetailView li {
			padding: 1em;
		}

	#perfilViewModel form {
		padding: 1em 20% 2em;
	}

}

@media screen and (min-device-width: 667px) {

	html.km-root { font-size: 16px; }

	#appDrawer { width: 50%; }

	div[data-url="components/home/termoAceite.html"] .km-content .privac-texto {
		width: 80%;
		margin: 0 auto
	}

	#kendoUiMobileApp .km-scroll-wrapper .masterDetailView li,
	#kendoUiMobileApp #avaliacoes .aval-praticas .masterDetailView li,
	#rankings .km-scroll-wrapper .masterDetailView li[data-uid],
	#rankings .km-scroll-wrapper .rank-descricao {
		padding: 1em 15%;
	}

	div.section-name-wrap {
		height: 60px;
	}

	form.section-name-wrap {
		padding: 0.35em 1em;
	}

}

@media screen and (min-device-width: 768px) {

	html.km-root {font-size: 20px;}

	.descricao-wrap > .descricao-disc .km-button.km-back {
		height: 37px;
	}

	.km-flat .km-view .km-footer {
		height: 60px;
	}
		.km-flat .km-view .km-footer .km-icon {
			font-size: 40px;
		}

}