.km-widget.km-view {
	height: 100%;
}

.km-flat .km-view .km-navbar,
.km-flat div[data-layout="main-nonav"] .km-content,
.km-flat .km-view .km-content .km-list > li .km-switch .km-switch-container,
.km-flat .km-view .km-content .km-list .km-state-active .km-listview-link,
.logo-img,
.km-loader,
.logo-mackenzie {
	background-color: #EA2D2E;
}

/*** LOGO MACKENZIE ***/
div[data-role="header"] .km-widget {
	border: none;
}


div[data-layout="main-nonav"] .logo-mackenzie {
	height: 100%;
}

div[data-layout="main-nonav"] .logo-mackenzie img {
	display: block;
	margin: auto;
}

div[data-layout="main-nonav"] .logo-mackenzie.login img {
	-webkit-transform: scale(0.7);
		-ms-transform: scale(0.7);
			transform: scale(0.7);
}

.logo-img {
	height: 100%;
    width: 100%;
    display: block;
	background-image: url(images/Logo-Mackenzie-app.png);
    background-repeat: no-repeat;
    background-position: 50% 80%;
    background-size: 32%;
}

/*** FORMULÃRIO ***/
.km-content.km-insetcontent {
	padding: 1em 2em 2em;
}

.km-content .km-scroll-container {
	height: 100%;
}
	@media screen and (min-device-width: 730px) {
		.km-content .km-scroll-container {
			width: 60%;
			margin: 0 auto;
		}
	}

.km-content .km-scroll-container .km-listview-wrapper .km-widget li {
	border-radius: 3px;
	padding: 0.77em;
}
	#kendoUiMobileApp .km-listview-wrapper .km-widget.km-listinset > li:not(:last-child),
	#kendoUiMobileApp .km-listview-wrapper + .button-group-vertical .km-button:not(:last-child) {
		margin-bottom: 0.5em;
	}

.km-content .km-scroll-container .km-listview-wrapper {
	padding: 0 0 1em;
}

.km-content .km-scroll-container .km-listview-wrapper .km-widget {
	margin: 0;
}

.km-content .km-scroll-container .km-listview-wrapper .km-widget li > input {
	position: static;
	width: 100%;
	padding: 0;
}

#kendoUiMobileApp .km-listview-wrapper + .button-group-vertical {
	display: block;
	padding: 0;
}

#kendoUiMobileApp .km-listview-wrapper + .button-group-vertical .km-button {
	height: 42px;
	padding: 0.8em;
	margin: 0;
	border-color: #FFF;
	background-color: transparent;
	color: #FFF;
	transition: background-color 0.2s;
}
	#kendoUiMobileApp .km-listview-wrapper + .button-group-vertical .km-button.km-state-active {
		background-color: #EA6A6A;
		transition: 0.2s;
	}

#kendoUiMobileApp .km-listview-wrapper + .button-group-vertical .km-button,
.lost-password {
	height: auto;
	font-size: 1.1rem;
}


/*** NOVO CADASTRO ***/
.novo-cadastro-header {
	height: 100px;
	margin-bottom: 1em;
}

div[data-layout="main-nonav"] .logo-mackenzie.new img {
	height: 100%;
	-webkit-transform: scale(0.5);
		-ms-transform: scale(0.5);
			transform: scale(0.5);
}

.novo-cadastro {
	font-size: 1.2em;
	text-align: center;
	color: #FFF;
}

.novo-cadastro h3 {
	margin: -1em 0 0;
	font-weight: normal;
}


/*** ESQUECI A SENHA ***/
.lost-password {
	display: block;
	margin: 1.6em 0 0;
	text-align: center;
	color: #FFF;
}

.km-content p.or-text {
	position: relative;
	margin: 1em 0;
}

.or-text::before,
.or-text::after {
	content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    height: 1px;
    width: 37%;
    background-color: #fff;
}

.or-text::before {
    left: 0;
}

.or-text::after {
	right: 0;
}

.lost-text {
	padding: 1em;
	text-decoration: none;
	letter-spacing: 3px;
}


/**************************/
/***** LOADING PAGE ******/
/*************************/
/*.loading-screen {
	height: 100%;
    background-color: #EA2D2E;
}*/

div[data-layout="main-loading"] .logo-mackenzie,
.loading-wrap {
    position: relative;
    height: 50%;
}

.loading-animate {
	display: inline-block;
    height: 100px;
    width: 100px;
    margin-top: -2px;
}
	.loading-animate > span {
	    position: absolute;
	    height: 100px;
	    width: 100px;
	    margin: auto;
    	background-color: white;
	    border-radius: 50%;
	    opacity: 0;
	    -webkit-animation: loading 1s infinite;
	    		animation: loading 1s infinite;
	}
	.loading-animate.a > span {
		left: calc(50% - 200px);
	}
	.loading-animate.b > span {
		left: calc(50% - 50px);
		-webkit-animation-delay: 0.2s;
				animation-delay: 0.2s;
	}
	.loading-animate.c > span {
		right: calc(50% - 200px);
		-webkit-animation-delay: 0.4s;
				animation-delay: 0.4s;
	}

@keyframes loading {
	from {top: 100px; transform: scale(0.7); opacity: 0;}
	50% {top: 0px; transform: scale(1); opacity: 1;}
	to {top: 40px; transform: scale(0.3); opacity: 0;}
}
@-webkit-keyframes loading {
	from {top: 100px; transform: scale(0.7); opacity: 0;}
	50% {top: 0px; transform: scale(1); opacity: 1;}
	to {top: 40px; transform: scale(0.3); opacity: 0;}
}


/**************************/
/****** ACEITE PAGE ******/
/*************************/




/**************************/
/**** USER APP LOGGED ****/
/*************************/
.km-flat .km-view .km-content .km-button {
	background-color: transparent;
}

/*** GERAL ***/
.km-header  {
	height: 11%;
}
	.km-header .km-navbar {
		height: 100%;
	}

.km-leftitem + .km-view-title span {
    line-height: 3em;
    display: inline-block;
    text-indent: -2em;
}

/*** MENU HAMBURGUER ***/
.km-navbar .km-leftitem a[data-icon="drawer-button"] {
	background-color: transparent;
	border: none;
}

/*** MAIN MENU ***/
#navigation-container li {
	margin-bottom: 0;
}

#navigation-container li.km-state-active {
	background-color: #EA2D2E;
}

li.km-state-active .km-listview-link .km-icon::before {
	content: none;
}

.km-widget .km-listview-link {
	font-size: 1.2em;
	line-height: normal;
}
	.km-listview-link .km-icon {
		height: auto;
		width: auto;
		margin-right: 1em;
	}
	.km-listview-link .km-icon::after {
		font-size: 2em;
	}


/*** USER MENU ***/
#appDrawer .km-header .km-view-title {
    min-height: 47px;
    line-height: normal;
	text-align: left;
}
	#appDrawer .km-view-title span {
		display: block;
		margin-top: 0.5em;
	}

#appDrawer .user-thumb {
    display: inline-block;
    float: left;
    height: 52px;
    width: 52px;
    margin: 0.2em 0.5em 0.15em 0.3em;
    overflow: hidden;
    border-radius: 50%;
    background-color: #fff;
}
	#appDrawer .user-thumb .km-thumbnail {
		height: 100%;
	}

.tia-number {
	font-size: 0.7em;
}
	.tia-number p {
		display: inline-block;
		margin: 0;
	}
	.tia-number p:nth-child(2) {
		text-indent: 3px;
	}