.km-widget.km-view {
	height: 100%;
}

.km-flat .km-view .km-navbar,
.km-flat div[data-layout="main-nonav"] .km-content,
.km-flat .km-view .km-content .km-list > li .km-switch .km-switch-container,
.km-flat .km-view .km-content .km-list .km-state-active .km-listview-link,
.logo-img,
.km-loader,
.logo-mackenzie,
#perfilViewModel .button-group .km-button,
.km-flat .km-view .km-footer .km-button,
.km-flat .km-view .km-footer .km-button.km-state-active,
.avaliacoes-wrap #tabAvaliacoes .km-button.km-back,
.avaliacoes-wrap #tabPublicacoes .km-buttongroup .km-state-active,
.km-flat .km-view .disciplinas-wrap #agenda .km-buttongroup .km-state-active {
	background-color: #EA2D2E;
}

#kendoUiMobileApp .km-listview-wrapper + .button-group-vertical .km-button,
.km-flat .km-view .km-content .km-button,
.km-flat .km-view .km-content .descricao-wrap > .km-button.km-back.km-state-active,
.km-flat .km-view .km-content .avaliacoes-wrap .prox-aula .km-button.km-state-active,
#kendoUiMobileApp .aval-praticas .tipo-avaliacao-wrap + .km-button.km-state-active {
	background-color: transparent;
}

/*** INÍCIO - LOGO MACKENZIE ***/
div[data-role="header"] .km-widget {
	border: none;
}


div[data-layout="main-nonav"] .logo-mackenzie {
	height: 100%;
}

div[data-layout="main-nonav"] .logo-mackenzie img {
	display: block;
	margin: auto;
}

div[data-layout="main-nonav"] .logo-mackenzie.login img {
	-webkit-transform: scale(0.7);
		-ms-transform: scale(0.7);
			transform: scale(0.7);
}

.logo-img {
	height: 100%;
    width: 100%;
    display: block;
	background-image: url(images/Logo-Mackenzie-app.png);
    background-repeat: no-repeat;
    background-position: 50% 80%;
    background-size: 32%;
}

/*** INÍCIO - LOGIN FORMULÁRIO ***/
div[data-model="app.home"] .km-content .km-scroll-container {
	height: 100%;
	padding: 1em 2em 2em;
}
	@media screen and (min-device-width: 730px) {
		.km-content .km-scroll-container {
			width: 60%;
			margin: 0 auto;
		}
	}

.km-content .km-scroll-container .km-listview-wrapper .km-widget li {
	border-radius: 3px;
	padding: 0.77em;
}
	#kendoUiMobileApp form .km-listview-wrapper .km-widget.km-listinset > li:not(:last-child),
	#kendoUiMobileApp .km-listview-wrapper + .button-group-vertical .km-button:not(:last-child) {
		margin-bottom: 0.5em;
	}

.km-content .km-scroll-container form .km-listview-wrapper {
	padding: 0 0 1em;
}

.km-content .km-scroll-container .km-listview-wrapper .km-widget {
	margin: 0;
}

.km-content .km-scroll-container .km-listview-wrapper .km-widget li > input {
	position: static;
	width: 100%;
	padding: 0;
}

#kendoUiMobileApp .km-listview-wrapper + .button-group-vertical {
	display: block;
	padding: 0;
}

#kendoUiMobileApp .km-listview-wrapper + .button-group-vertical .km-button {
	height: 42px;
	padding: 0.8em;
	margin: 0;
	border-color: #FFF;
	color: #FFF;
	transition: background-color 0.2s;
}
	#kendoUiMobileApp .km-listview-wrapper + .button-group-vertical .km-button.km-state-active {
		background-color: #EA6A6A;
		transition: 0.2s;
	}

#kendoUiMobileApp .km-listview-wrapper + .button-group-vertical .km-button,
.lost-password {
	height: auto;
	font-size: 1.1rem;
}


/*** LOGIN - NOVO CADASTRO ***/
.novo-cadastro-header {
	height: 100px;
	margin-bottom: 1em;
}

div[data-layout="main-nonav"] .logo-mackenzie.new img {
	height: 100%;
	-webkit-transform: scale(0.5);
		-ms-transform: scale(0.5);
			transform: scale(0.5);
}

.novo-cadastro {
	font-size: 1.2em;
	text-align: center;
	color: #FFF;
}

.novo-cadastro h3 {
	margin: -1em 0 0;
	font-weight: normal;
}


/*** ESQUECI A SENHA ***/
.lost-password {
	display: block;
	margin: 1.6em 0 0;
	text-align: center;
	color: #FFF;
}

.km-content p.or-text {
	position: relative;
	margin: 1em 0;
}

.or-text::before,
.or-text::after {
	content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    height: 1px;
    width: 37%;
    background-color: #fff;
}

.or-text::before {
    left: 0;
}

.or-text::after {
	right: 0;
}

.lost-text {
	width: 100%;
	padding: 1em;
	text-decoration: none;
	letter-spacing: 3px;
}


/**************************/
/***** LOADING PAGE ******/
/*************************/
/*.loading-screen {
	height: 100%;
    background-color: #EA2D2E;
}*/

div[data-layout="main-loading"] .logo-mackenzie,
.loading-wrap {
    position: relative;
    height: 50%;
}

.loading-animate {
	display: inline-block;
    height: 100px;
    width: 100px;
    margin-top: -2px;
}
	.loading-animate > span {
	    position: absolute;
	    height: 100px;
	    width: 100px;
	    margin: auto;
    	background-color: white;
	    border-radius: 50%;
	    opacity: 0;
	    -webkit-animation: loading 1s infinite;
	    		animation: loading 1s infinite;
	}
	.loading-animate.a > span {
		left: calc(50% - 200px);
	}
	.loading-animate.b > span {
		left: calc(50% - 50px);
		-webkit-animation-delay: 0.2s;
				animation-delay: 0.2s;
	}
	.loading-animate.c > span {
		right: calc(50% - 200px);
		-webkit-animation-delay: 0.4s;
				animation-delay: 0.4s;
	}

@keyframes loading {
	from {top: 100px; transform: scale(0.7); opacity: 0;}
	50% {top: 0px; transform: scale(1); opacity: 1;}
	to {top: 40px; transform: scale(0.3); opacity: 0;}
}
@-webkit-keyframes loading {
	from {top: 100px; transform: scale(0.7); opacity: 0;}
	50% {top: 0px; transform: scale(1); opacity: 1;}
	to {top: 40px; transform: scale(0.3); opacity: 0;}
}


/**************************/
/****** ACEITE PAGE ******/
/*************************/




/**************************/
/**** USER APP LOGGED ****/
/*************************/

/*** GERAL ***/
.km-header  {
	height: 11%;
}
	.km-header .km-navbar {
		height: 100%;
	}

.km-leftitem + .km-view-title span {
    line-height: 3em;
    display: inline-block;
    text-indent: -2em;
}

/*** FOOTER ÍCONES ***/
.km-flat .km-view .km-footer {
	height: 45px;
}
	.km-flat .km-view .km-footer .km-tabstrip {
		display: block;
		height: 100%;
	}
	.km-flat .km-view .km-footer > .km-tabstrip .km-button {
	    display: inline-block;
	    float: left;
	    height: 100%;
	    width: 20%;
	}
	.km-flat .km-view .km-footer .km-button.km-state-active {
		border-bottom: 2px solid #fff;
	}
	.km-flat .km-view .km-footer .km-button .km-icon::after {
		color: #fff;
	}

/*** MENU HAMBURGUER ***/
.km-header .km-navbar .km-leftitem a[data-rel="drawer"],
.km-header .km-navbar .km-leftitem a[data-rel="drawer"]::before,
.km-header .km-navbar .km-leftitem a[data-rel="drawer"]::after {
    height: 5px;
    background-color: #fff;
    border-radius: 1px;
}

.km-header .km-navbar .km-leftitem a[data-rel="drawer"] {
    position: relative;
    width: 30px;
    padding: 0;
    margin: 1em 0.5em;
	border: none;
}
	.km-header .km-navbar .km-leftitem a[data-rel="drawer"]::before,
	.km-header .km-navbar .km-leftitem a[data-rel="drawer"]::after {
	    content: "";
	    position: absolute;
	    left: 0;
	    width: 100%;
	}
	.km-header .km-navbar .km-leftitem a[data-rel="drawer"]::before {
	    top: -10px;
	}
	.km-header .km-navbar .km-leftitem a[data-rel="drawer"]::after {
	    bottom: -10px;
	}

/*** HEADER - LOGO + NOME USER ***/
.km-leftitem + .km-view-title {
	height: 100%;
}
.main-view-logo {
	height: 100%;
	padding: 0.4em;
	transform: translate(-50%);
}

.main-header-username {
	position: absolute;
	right: 0;
	bottom: 0;
	max-width: 40%;
	margin: 0 0.5em 0.3em 0;
}
	.main-header-username p:only-of-type {
		margin: 0;
		overflow: hidden;
		font-size: 0.7em;
		line-height: normal;
		text-align: right;
		text-overflow: ellipsis;
	}
	.main-header-username .tia-number {
		line-height: normal;
		letter-spacing: 1px;
		text-align: right;
	}
	.main-header-username .tia-number p {
		font-size: 0.8em;
	}

/*** MAIN MENU ***/
#navigation-container li {
	margin-bottom: 0;
}

#navigation-container li.km-state-active {
	background-color: #EA2D2E;
}
	#navigation-container li .km-listview-link span:nth-child(2) {
		display: inline-block;
		transform: translateY(-0.35em);
	}
	#navigation-container li .km-listview-link::after {
		border-width: 2px 2px 0 0;
		box-shadow: none;
	}
	#navigation-container li.km-state-active .km-listview-link::after {
		border-color: #fff;
	}

	li.km-state-active .km-listview-link .km-icon::before {
		content: none;
	}

.km-widget .km-listview-link {
	font-size: 1.2em;
	line-height: normal;
}
	.km-listview-link .km-icon {
		height: auto;
		width: auto;
		margin-right: 1em;
	}
	.km-listview-link .km-icon::after {
		font-size: 2em;
	}


/*** USER MENU ***/
#appDrawer .km-header .km-view-title {
	height: 100%;
    min-height: 47px;
    line-height: normal;
	text-align: left;
}
	#appDrawer .km-view-title span {
		display: block;
		margin-top: 0.5em;
		overflow: hidden;
		text-overflow: ellipsis;
	}

/*#appDrawer*/ .user-thumb {
    overflow: hidden;
    border-radius: 50%;
    background-color: #fff;
}
	/*#appDrawer*/ .user-thumb .km-thumbnail {
		height: 100%;
		background-color: #ccc;
	}
	#appDrawer .user-thumb {
    	display: inline-block;
    	float: left;
	    height: 90%;
    	margin: 0.2em 0.5em 0.15em 0.3em;
	}

.tia-number {
	font-size: 0.7em;
}
	.tia-number p {
		display: inline-block;
		margin: 0;
	}
	.tia-number p:nth-child(2) {
		text-indent: 3px;
	}

/****** MODAL WINDOW ******/
/**************************/
#kendoUiMobileApp .km-modalview-root .k-animation-container {
	height: auto !important;
	padding: 0 !important;
}
#kendoUiMobileApp .km-modalview-root .k-animation-container > .km-modalview-wrapper::before {
	content: none;
}
#kendoUiMobileApp .km-modalview-root .km-modalview-wrapper,
#modalview-message {
	position: relative !important;
}
#kendoUiMobileApp .km-modalview-root .km-modalview-wrapper {
	background-color: transparent;
	border: none;
}

#modalview-message {
	height: auto;
}
#modalview-message .km-content {
	border-radius: 4px 4px 0 0;
}

#modalview-message .km-footer {
	height: auto;
}
	#modalview-message .km-footer,
	#modalview-message .km-footer .km-widget {
		background-color: transparent;
	}
	#modalview-message .km-footer .km-widget {
		border: none;
	}
	#modalview-message .km-footer .km-button {
		width: 100%;
		padding: 0;
		margin: 0;
		border-width: 1px 0 0;
		border-top: 1px solid #ccc;
		border-radius: 0 0 4px 4px;
		color: #000;
		background-color: #fff;
	}
	#modalview-message .km-footer .km-button.km-state-active {
		background-color: #EA6A6A;
	}
	#modalview-message .km-footer .km-button.km-state-active .km-text {
		color: #000;
	}



/***** EDITAR PERFIL ******/
/**************************/
.editar-perfil {
	position: relative;
	height: 50px;
	background-color: #fff;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	text-align: center;
}
	.editar-perfil a {
		text-decoration: none;
		font-size: 1.1em;
	}
	.editar-perfil .km-icon {
	    height: 33px;
	    width: 33px;
	    display: inline-block;
	}
	.editar-perfil .km-icon::after {
		content: "\e219";
		font-size: 1.7em;
		line-height: 1.4em;
	}

	.editar-perfil .link-x {
		position: absolute;
		top: 10px;
		right: 10px;
		height: 30px;
		width: 30px;
	}
	.editar-perfil .link-x::before,
	.editar-perfil .link-x::after {
		content: "";
		position: absolute;
		height: 100%;
		width: 2px;
		background-color: #ccc;
	}
	.editar-perfil .link-x::before {
		transform: rotate(45deg);
	}
	.editar-perfil .link-x::after {
		transform: rotate(-45deg);
	}

#perfilViewModel form {
	padding: 1em 2em 2em;
}
#perfilViewModel.form-view {
	padding-top: 3.5em;
}
	#perfilViewModel .user-thumb {
	    float: none;
	    display: block;
	    height: 70px;
	    width: 70px;
	    margin: 0 auto 0.2em;
	    border: 1px solid rgba(0, 0, 0, 0.1);
	}
	#perfilViewModel .user-thumb + a {
		display: block;
		text-align: center;
		margin-bottom: 1em;
	}

#perfilViewModel .form-content-item {
	border-top-width: 1px;
}
	#perfilViewModel .form-content-item input {
		width: 75%;
	}

#perfilViewModel .button-group {
	display: inline-block;
}
	#perfilViewModel .button-group .km-button {
	    display: inline-block;
		height: 100%;
		width: 100%;
	    padding: 1em;
	    margin: 0;
	    color: #fff;
	    font-size: 1.1em;
	}


/*** CURSOS e DISCIPLINAS ***/
/****************************/
.km-flat .km-view .km-header + .km-content {
	/*margin-top: 2em;*/
}
.km-flat .km-view .km-header > .km-tabstrip {
	width: 100%;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
	.km-flat .km-view .km-header > .km-tabstrip .km-button {
	    font-size: 1em;
	    width: 50%;
	}
	.km-flat .km-view .km-header > .km-tabstrip .km-button.km-state-active {
	    background-color: #fff;
	    border-bottom: 2px solid #bbb;
	}
	.km-flat .km-view .km-header > .km-tabstrip .km-button.km-state-active .km-text {
	    color: #000;
	}
	.km-flat .km-view .km-header > .km-tabstrip .km-icon {
		display: none;
	}

/*** CURSOS VIEW ***/
#cursos .km-scroll-wrapper .km-listview-wrapper li:not(.km-load-more) {
	padding-top: 3em;
}
	#cursos .km-scroll-wrapper .km-listview-wrapper li:not(.km-load-more) .image-with-text {
		position: relative;
	}
	#cursos .km-scroll-wrapper .km-listview-wrapper li:not(.km-load-more) .image-with-text::after {
		top: calc(50% - 10px);
		right: -10%;
	}
	/*#cursos*/ .km-scroll-wrapper .km-listview-wrapper li h3 {
		margin: 0;
	}
	/*#cursos*/ #kendoUiMobileApp .km-scroll-wrapper .masterDetailView li {
		position: relative;
		min-height: 67px;
		padding: 1em 3em 1em 1em;
		margin: 0;
	}
	/*#cursos*/ .km-scroll-wrapper .km-listview-wrapper li .image-with-text::after {
	    content: "";
	    position: absolute;
	    top: calc(50% - 17px);
	    right: 5%;
	    height: 30px;
	    width: 30px;
	    border-top: 4px solid #ccc;
	    border-right: 4px solid #ccc;
	    -webkit-transform: rotate(45deg);
	    		transform: rotate(45deg);
	}
	#cursos .km-scroll-wrapper .km-listview-wrapper li .km-label-above {
		font-size: 0.8em;
	}

/*** CURSO SELECIONADO VIEW ***/
.descricao-wrap {
	overflow: hidden;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
	.descricao-wrap > .km-button.km-back,
	.descricao-wrap p,
	.descricao-wrap h3 {
		float: left;
	}
	.descricao-wrap > .km-button.km-back {
	    height: 26px;
	    width: 20px;
	    margin: 1em 0 1em 1em;
	    border-radius: 0;
	    border-width: 3px 0 0 3px;
	    border-color: #ccc;
	    -webkit-transform: rotate(-45deg);
	    		transform: rotate(-45deg);
	}
	.descricao-wrap p {
		display: inline-block;
		margin: 0;
    	font-size: 0.9em;
    	-webkit-transform: translate(-0.5em, 1.2em);
	    		transform: translate(-0.5em, 1.2em);
	}
	.descricao-wrap h3 {
	    display: inline-block;
	    margin: 0;
	    font-size: 1em;
	    padding: 1em 0;
	}
	#tabDisciplinas .descricao-wrap h3 {
	    width: 74%;
	}
	#disciplinasViewModelDetailsView .descricao-wrap h3 {
	    float: right;
	    width: 67%;
	    margin-left: -7px;
	}

/*** BOTÕES SEMESTRES e ANO (DESC. DISCIPLINAS) ***/
.km-flat .km-view .disciplinas-wrap .km-buttongroup {
	display: block;
	padding: 0 1em;
	margin: 0 auto 0.5em;
}

.avaliacoes-wrap #tabPublicacoes .km-buttongroup:first-of-type {
		padding: 0 1em;
	}
	.avaliacoes-wrap #tabPublicacoes .km-buttongroup:first-of-type li,
	.km-flat .km-view .disciplinas-wrap .km-buttongroup li {
		float: left;
	}
	.avaliacoes-wrap #tabPublicacoes .km-buttongroup:first-of-type li {
		padding: 0.8em 1.2em;
	}

	.km-flat .km-view .disciplinas-wrap .km-buttongroup li {
		padding: 0.9em 0.8em;
	}
	.avaliacoes-wrap #tabPublicacoes .km-buttongroup:first-of-type li:first-child,
	.km-flat .km-view .disciplinas-wrap .km-buttongroup li:first-child {
		border-radius: 4px 0 0;
	}
	.avaliacoes-wrap #tabPublicacoes .km-buttongroup:first-of-type li:nth-child(4),
	.km-flat .km-view .disciplinas-wrap .km-buttongroup li:nth-child(4) {
		border-radius: 0 4px 0 0;
		border-right: 1px solid rgba(0, 0, 0, 0.1);
	}
	.avaliacoes-wrap #tabPublicacoes .km-buttongroup:first-of-type li:nth-child(5),
	.km-flat .km-view .disciplinas-wrap .km-buttongroup li:nth-child(5) {
		border-radius: 0 0 0 4px;
		border-left: 1px solid rgba(0, 0, 0, 0.1);
	}
	.avaliacoes-wrap #tabPublicacoes .km-buttongroup:first-of-type li:nth-child(8),
	.km-flat .km-view .disciplinas-wrap .km-buttongroup li:nth-child(8) {
		border-radius: 0 0 4px 0;
	}

	.avaliacoes-wrap #tabPublicacoes .km-buttongroup:first-of-type li:nth-child(5),
	.km-flat .km-view .disciplinas-wrap .km-buttongroup li:nth-child(5),
	.avaliacoes-wrap #tabPublicacoes .km-buttongroup:first-of-type li:nth-child(6),
	.km-flat .km-view .disciplinas-wrap .km-buttongroup li:nth-child(6),
	.avaliacoes-wrap #tabPublicacoes .km-buttongroup:first-of-type li:nth-child(7),
	.km-flat .km-view .disciplinas-wrap .km-buttongroup li:nth-child(7),
	.avaliacoes-wrap #tabPublicacoes .km-buttongroup:first-of-type li:nth-child(8),
	.km-flat .km-view .disciplinas-wrap .km-buttongroup li:nth-child(8) {
		border-top: 0;
	}

/*** AGENDA ***/
.km-flat .km-view .disciplinas-wrap #agenda .km-buttongroup {
	width: 100%;
}
	.km-flat .km-view .disciplinas-wrap #agenda .km-buttongroup .km-button {
		padding: 0.45em 0;
	}
	.km-flat .km-view .disciplinas-wrap #agenda .km-buttongroup .km-button:not(:nth-child(2)) {
		width: 33%;
	}
	.km-flat .km-view .disciplinas-wrap #agenda .km-buttongroup .km-button:nth-child(2) {
		width: 34%;
	}

	.km-flat .km-view .disciplinas-wrap #agenda .km-buttongroup .km-button:first-child {
		border-radius: 4px 0 0 4px;
	}
	.km-flat .km-view .disciplinas-wrap #agenda .km-buttongroup .km-button:last-child {
		border-radius: 0 4px 4px 0;
		border-top: 1px solid rgba(0, 0, 0, 0.1);
	}

.km-flat .km-view .descricao-wrap + .km-buttongroup {
	width: 100%;
	padding: 0 1em;
}
	.km-flat .km-view .descricao-wrap + .km-buttongroup .km-button {
		width: 50%;
	}
	.km-flat .km-view .descricao-wrap + .km-buttongroup .km-button.km-state-active {
		background-color: #EA2D2E;
	}

/*** TELA AVALIAÇÕES ***/
.avaliacoes-wrap #tabAvaliacoes .km-back {
    width: 100%;
	margin: 0;
    border: 0;
    border-radius: 0;
    color: #fff;
}
	.avaliacoes-wrap #tabAvaliacoes .km-back .km-icon::after {
		content: "\e0b4";
		font-size: 1.2em;
	}

.avaliacoes-wrap .prox-aula {
	position: relative;
	padding: 0 1.2em 1em;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
	.avaliacoes-wrap .prox-aula p {
		display: inline-block;
		margin-left: 0;
	}
	.avaliacoes-wrap .prox-aula p + .km-button {
		position: absolute;
		top: 0.5em;
		right: 0.5em;
		height: 30px;
		width: 40px;
	    padding: 0;
	    border: none;
	}
	.avaliacoes-wrap .prox-aula p + .km-button span {
		display: inline-block;
		height: 18px;
		width: 18px;
		margin-top: 0.5em;
		border-width: 3px 3px 0 0;
	    border-color: #ccc;
	    border-style: solid;
	    -webkit-transform: rotate(45deg);
	    		transform: rotate(45deg);
	}

	.avaliacoes-wrap .prox-aula .grupo-wrap {
		display: inline-block;
		width: 49%;
	}
	.avaliacoes-wrap .prox-aula .grupo-wrap .km-button {
		padding: 0.8em 0.8em 0 0;
		margin: 0;
		border: none;
	}
	.avaliacoes-wrap .prox-aula .km-button .km-icon::after {
		font-size: 1.1em;
	}
	.avaliacoes-wrap .prox-aula .km-button .km-i-film::after {
		content: "\e09c";
	}
	.avaliacoes-wrap .prox-aula .km-button .km-i-envelop-open::after {
		content: "\e09a";
	}
	.avaliacoes-wrap .prox-aula .km-button .km-i-image::after {
		content: "\e07c";
	}

.avaliacoes-wrap .aval-praticas h3 {
	text-align: center;
}

#kendoUiMobileApp .avaliacoes-wrap .aval-praticas .km-listview-wrapper li {
	padding: 0.8em 1em;
	border: none;
}
	.aval-praticas .km-listview-wrapper li .km-icon::after {
		content: "\e09c";
	}

.aval-praticas .tipo-avaliacao-wrap {
	float: left;
	max-width: 58%;
}
	.aval-praticas .tipo-avaliacao-wrap p {
		margin: 0;
	}
	.aval-praticas .tipo-avaliacao-wrap p:nth-child(2) {
		text-indent: 17px;
	}
	.aval-praticas .tipo-avaliacao-wrap p b {
		color: #EA2D2E;
		font-size: 0.8em;
	}

.aval-praticas .tipo-avaliacao-wrap + .km-button {
	float: right;
	min-width: 110px;
}
	#kendoUiMobileApp .aval-praticas .tipo-avaliacao-wrap + .km-button.km-state-active {
		color: #000;
	}

/*** STATUS BOTÕES AVALIAÇÃO ***/
#kendoUiMobileApp .aval-praticas .tipo-avaliacao-wrap + .valido-button {
	border-color: green;
}
#kendoUiMobileApp .aval-praticas .tipo-avaliacao-wrap + .realizado-button {
	background-color: #ccc;
	opacity: 0.7;
}
#kendoUiMobileApp .aval-praticas .tipo-avaliacao-wrap + .expirado-button {
	background-color: #EA2D2E;
	color: #fff;
}

/*** DISCIPLINAS VIEW ***/
#disciplinas .details-content .km-buttongroup .km-button.km-state-active {
	background-color: #EA2D2E;
}
#disciplinas .km-scroll-wrapper {
	padding: 0;
}
#disciplinas .masterDetailView {
	padding-top: 2em;
}
#kendoUiMobileApp #disciplinas .km-listview-wrapper li .user-thumb.prof-thumb {
	display: inline-block;
	float: left;
	height: 40px;
	width: 40px;
	margin: 0;
}
#kendoUiMobileApp #disciplinas .km-listview-wrapper li .prof-thumb + .image-with-text,
#kendoUiMobileApp #disciplinas .km-listview-wrapper li label {
    display: inline-block;
    float: right;
    width: 83%;
}
#kendoUiMobileApp #disciplina

/*** AGENDA VIEW ***/
#agenda ul {
	display: inline-block;
}

/*** DISCIPLINAS DETAILS ***/
.avaliacoes-wrap #tabPublicacoes .km-buttongroup:nth-child(2) {
	width: 100%;
	margin: 0.5em 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}
	.avaliacoes-wrap #tabPublicacoes .km-buttongroup:nth-child(2) a {
		border-radius: 0;
		border-left: none;
		border-right: none;
		padding: 0em;
	}
	.avaliacoes-wrap #tabPublicacoes .km-buttongroup:nth-child(2) .km-button.km-state-active {
		background-color: transparent;
		color: #4c5356;
		border-bottom: 3px solid #ccc;
	}

	.avaliacoes-wrap #tabPublicacoes .km-buttongroup:nth-child(2) .km-button {
		padding: 0.8em 0.4em;
		border: none;
		font-size: 0.9em;
	}
	.avaliacoes-wrap #tabPublicacoes .km-buttongroup:nth-child(2) .km-button .km-icon::after {
		font-size: 1.2em;
	}
	.avaliacoes-wrap #tabPublicacoes .km-buttongroup:nth-child(2) .km-button:first-child .km-icon::after {
		content: "\e09c";
	}
	.avaliacoes-wrap #tabPublicacoes .km-buttongroup:nth-child(2) .km-button:nth-child(2) .km-icon::after {
		content: "\e07c";
	}
	.avaliacoes-wrap #tabPublicacoes .km-buttongroup:nth-child(2) .km-button:nth-child(3) .km-icon::after {
		content: "\e09a";
	}
	.avaliacoes-wrap #tabPublicacoes .km-buttongroup:nth-child(2) .km-button:nth-child(4) .km-icon::after {
		content: "\e0e5";
	}

	.avaliacoes-wrap #tabPublicacoes .km-buttongroup:nth-child(2) .km-button .km-text {
		margin-left: 0.3em;
	}

#tabPublicacoes .km-buttongroup:first-child .km-button:nth-child(7) {
	border-radius: 0;
}
#tabPublicacoes .km-buttongroup:first-child .km-button:nth-child(8) {
	border-radius: 0 0 4px 0;
}

#tabPublicacoes .lista-arquivos {
	padding: 0 1em;
}
	#tabPublicacoes .lista-arquivos .km-scroll-container {
		height: auto;
	}
	#tabPublicacoes .lista-arquivos li {
		padding: 0;
		border-bottom: none;
	}
	#tabPublicacoes .lista-arquivos li:not(:first-child) {
		margin: 1.2em 0;
	}
	#tabPublicacoes .lista-arquivos li:first-child {
		margin: 0.5em 0 0;
	}
	#tabPublicacoes .lista-arquivos li .docs-wrap,
	#tabPublicacoes .lista-arquivos li .docs-wrap + p {
		display: inline-block;
	}
	#tabPublicacoes .lista-arquivos li .docs-wrap {
		max-width: 80%;
	}
	#tabPublicacoes .lista-arquivos li .docs-wrap p,
	#tabPublicacoes .lista-arquivos li .docs-wrap + p {
		margin: 0;
	}
	#tabPublicacoes .lista-arquivos li .docs-wrap p:nth-child(2) {
		margin: 0.3em 0;
		font-size: 0.9em;
	}
	#tabPublicacoes .lista-arquivos li .docs-wrap + p {
		float: right;
	}