.km-widget.km-view,
.km-scroll-header + .km-scroll-container {
	height: 100%;
}

/*** INÍCIO - LOGO MACKENZIE ***/
div[data-role="header"] .km-widget {
	border: none;
}

div[data-layout="main-nonav"] .logo-mackenzie {
	height: 100%;
}

div[data-layout="main-nonav"] .logo-mackenzie img {
	display: block;
	margin: auto;
}

div[data-layout="main-nonav"] .logo-mackenzie.login img {
	-webkit-transform: scale(0.7);
		-ms-transform: scale(0.7);
			transform: scale(0.7);
}

.logo-img {
	height: 100%;
    width: 100%;
    display: block;
	background-image: url(images/Logo-Mackenzie-app.png);
    background-repeat: no-repeat;
    background-position: 50% 80%;
    background-size: 32%;
}

/*** INÍCIO - LOGIN FORMULÁRIO ***/
div[data-model="app.home"] .km-content .km-scroll-container {
	padding: 1em 2em 2em;
}
	@media screen and (min-device-width: 730px) {
		.km-content .km-scroll-container {
			width: 60%;
			margin: 0 auto;
		}
	}

.km-content .km-scroll-container .km-listview-wrapper .km-widget li {
	border-radius: 3px;
	padding: 0.77em;
}
	#kendoUiMobileApp form .km-listview-wrapper .km-widget.km-listinset > li:not(:last-child),
	#kendoUiMobileApp .km-listview-wrapper + .button-group-vertical .km-button:not(:last-child) {
		margin-bottom: 0.5em;
	}

.km-content .km-scroll-container form .km-listview-wrapper {
	padding: 0 0 1em;
}

.km-content .km-scroll-container .km-listview-wrapper .km-widget {
	margin: 0;
}

.km-content .km-scroll-container .km-listview-wrapper .km-widget li > input {
	position: static;
	width: 100%;
	padding: 0;
}

#kendoUiMobileApp .km-listview-wrapper + .button-group-vertical {
	display: block;
	padding: 0;
}

#kendoUiMobileApp .km-listview-wrapper + .button-group-vertical .km-button {
	height: 42px;
	padding: 0.8em;
	margin: 0;
	border-color: #FFF;
	color: #FFF;
	transition: background-color 0.2s;
}
	#kendoUiMobileApp .km-listview-wrapper + .button-group-vertical .km-button.km-state-active {
		background-color: #EA6A6A;
		transition: 0.2s;
	}

#kendoUiMobileApp .km-listview-wrapper + .button-group-vertical .km-button,
.lost-password {
	height: auto;
	font-size: 1.1rem;
}


/*** LOGIN - NOVO CADASTRO ***/
.novo-cadastro-header {
	height: 100px;
	margin-bottom: 1em;
}

div[data-layout="main-nonav"] .logo-mackenzie.new img {
	height: 100%;
	-webkit-transform: scale(0.5);
		-ms-transform: scale(0.5);
			transform: scale(0.5);
}

.novo-cadastro {
	font-size: 1.2em;
	text-align: center;
	color: #FFF;
}

.novo-cadastro h3 {
	margin: -1em 0 0;
	font-weight: normal;
}


/*** ESQUECI A SENHA ***/
.lost-password {
	display: block;
	margin: 1.6em 0 0;
	text-align: center;
	color: #FFF;
}

.km-content p.or-text {
	position: relative;
	margin: 1em 0;
}

.or-text::before,
.or-text::after {
	content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    height: 1px;
    width: 37%;
    background-color: #fff;
}

.or-text::before {
    left: 0;
}

.or-text::after {
	right: 0;
}

.lost-text {
	width: 100%;
	padding: 1em;
	text-decoration: none;
	letter-spacing: 3px;
}


/**************************/
/***** LOADING PAGE ******/
/*************************/
/*.loading-screen {
	height: 100%;
    background-color: #EA2D2E;
}*/

div[data-layout="main-loading"] .logo-mackenzie,
.loading-wrap {
    position: relative;
    height: 50%;
}

.loading-animate {
	display: inline-block;
    height: 100px;
    width: 100px;
    margin-top: -2px;
}
	.loading-animate > span {
	    position: absolute;
	    height: 100px;
	    width: 100px;
	    margin: auto;
    	background-color: white;
	    border-radius: 50%;
	    opacity: 0;
	    -webkit-animation: loading 1s infinite;
	    		animation: loading 1s infinite;
	}
	.loading-animate.a > span {
		left: calc(50% - 200px);
	}
	.loading-animate.b > span {
		left: calc(50% - 50px);
		-webkit-animation-delay: 0.2s;
				animation-delay: 0.2s;
	}
	.loading-animate.c > span {
		right: calc(50% - 200px);
		-webkit-animation-delay: 0.4s;
				animation-delay: 0.4s;
	}

@keyframes loading {
	from {top: 100px; transform: scale(0.7); opacity: 0;}
	50% {top: 0px; transform: scale(1); opacity: 1;}
	to {top: 40px; transform: scale(0.3); opacity: 0;}
}
@-webkit-keyframes loading {
	from {top: 100px; transform: scale(0.7); opacity: 0;}
	50% {top: 0px; transform: scale(1); opacity: 1;}
	to {top: 40px; transform: scale(0.3); opacity: 0;}
}


/**************************/
/****** ACEITE PAGE ******/
/*************************/




/**************************/
/**** USER APP LOGGED ****/
/*************************/

/*** GERAL ***/
.km-header  {
	height: 60px;
}
	.km-header .km-navbar {
		height: 100%;
	}

.km-leftitem + .km-view-title span {
    line-height: 3em;
    display: inline-block;
    text-indent: -2em;
}

/*** FOOTER ÍCONES ***/
.km-flat .km-view .km-footer {
	height: 45px;
}
	.km-flat .km-view .km-footer .km-tabstrip {
		display: block;
		height: 100%;
	}
	.km-flat .km-view .km-footer > .km-tabstrip .km-button {
	    display: inline-block;
	    float: left;
	    height: 100%;
	    width: 20%;
	}
	.km-flat .km-view .km-footer .km-button.km-state-active {
		border-bottom: 2px solid #fff;
	}
	.km-flat .km-view .km-footer .km-button .km-icon::after {
		color: #fff;
	}
	.km-flat .km-view .km-footer .km-button .km-search::after {
		content: "\e31e";
		font-size: 0.7em;
		line-height: 1.5em;
	}


/*** HEADER - NOME DAS SEÇÕES ***/
.section-name-wrap {
	position: relative;
	height: 50px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	text-align: center;
}
	.section-name-wrap a {
		text-decoration: none;
		font-size: 1.1em;
	}
	.section-name-wrap .km-icon {
	    height: 33px;
	    width: 33px;
	    display: inline-block;
	}
	.section-name-wrap .km-icon::after {
		font-size: 1.7em;
		line-height: 1.4em;
	}

	.section-name-wrap .link-x {
		position: relative;
		float: right;
		height: 40px;
		width: 30px;
		margin: 0.3em 0.6em 0 -1em;
	}
	.section-name-wrap .link-x::before,
	.section-name-wrap .link-x::after {
		content: "";
		position: absolute;
		height: 100%;
		width: 2px;
		background-color: #aaa;
	}
	.section-name-wrap .link-x::before {
		-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
				transform: rotate(45deg);
	}
	.section-name-wrap .link-x::after {
		-webkit-transform: rotate(-45deg);
			-ms-transform: rotate(-45deg);
				transform: rotate(-45deg);
	}

.section-icon-name {
	display: inline-block;
	height: 100%;
	padding: 0.3em 0;
}

/*** MENU HAMBURGUER ***/
.km-header .km-navbar .km-leftitem a[data-rel="drawer"],
.km-header .km-navbar .km-leftitem a[data-rel="drawer"]::before,
.km-header .km-navbar .km-leftitem a[data-rel="drawer"]::after {
    height: 5px;
    background-color: #fff;
    border-radius: 1px;
}

.km-header .km-navbar .km-leftitem a[data-rel="drawer"] {
    position: relative;
    width: 30px;
    padding: 0;
    margin: 1em 0.5em;
	border: none;
}
	.km-header .km-navbar .km-leftitem a[data-rel="drawer"]::before,
	.km-header .km-navbar .km-leftitem a[data-rel="drawer"]::after {
	    content: "";
	    position: absolute;
	    left: 0;
	    width: 100%;
	}
	.km-header .km-navbar .km-leftitem a[data-rel="drawer"]::before {
	    top: -10px;
	}
	.km-header .km-navbar .km-leftitem a[data-rel="drawer"]::after {
	    bottom: -10px;
	}

/*** HEADER - LOGO + NOME USER ***/
.km-leftitem + .km-view-title {
	height: 100%;
}
.main-view-logo {
	height: 100%;
	padding: 0.4em;
	-webkit-transform: translate(-50%);
		-ms-transform: translate(-50%);
			transform: translate(-50%);
}

.main-header-username {
	position: absolute;
	right: 0;
	bottom: 0;
	max-width: 40%;
	margin: 0 0.5em 0.3em 0;
}
	.main-header-username p:only-of-type {
		margin: 0;
		overflow: hidden;
		font-size: 0.7em;
		line-height: normal;
		text-align: right;
		text-overflow: ellipsis;
	}
	.main-header-username .tia-number {
		line-height: normal;
		letter-spacing: 1px;
		text-align: right;
	}
	.main-header-username .tia-number p {
		font-size: 0.8em;
	}

/*** MAIN MENU ***/
#navigation-container li {
	margin-bottom: 0;
}

#navigation-container li.km-state-active {
	background-color: #EA2D2E;
}
	#navigation-container li .km-listview-link span {
		margin-left: 0;
	}
	#navigation-container li .km-listview-link span:nth-child(2) {
		display: inline-block;
		-webkit-transform: translateY(-0.35em);
			-ms-transform: translateY(-0.35em);
				transform: translateY(-0.35em);
	}
	#navigation-container li .km-listview-link::after {
		content: none;
	}
	#navigation-container li.km-state-active .km-listview-link::after {
		border-color: #fff;
	}

	li.km-state-active .km-listview-link .km-icon::before {
		content: none;
	}
	/* ICONS MAIN MENU */
	/*#navigation-container li:nth-child(3) .km-listview-link .km-bookmarks::after {
		content: "\e20b";
	}
	#navigation-container li:nth-child(4) .km-listview-link .km-bookmarks::after {
		content: "\e0c4";
	}
	#navigation-container li .km-listview-link .km-info::after {
		content: "\e0fb";
	}
	#navigation-container li .km-listview-link .km-action::after {
		content: "\e0b3";
	}
	#navigation-container li .km-listview-link .km-contacts::after {
		content: "\e219";
	}*/


.km-widget .km-listview-link {
	font-size: 1.15em;
	line-height: normal;
}
	.km-listview-link .km-icon {
		height: auto;
		width: auto;
		margin-right: 0.7em;
	}
	.km-listview-link .km-icon::after {
		font-size: 1.7em;
		line-height: 1.2em;
	}

/*** ESCURECIMENTO DA VIEW - MENU ACTIVE ***/
div[style="transform-origin: left top 0px; transform: translate3d(250px, 0px, 0px) scale(1);"].km-widget.km-view,
div[style="transform: translate3d(250px, 0px, 0px) scale(1);"].km-widget.km-view {
	position: relative;
}
	@keyframes fundo-escuro {
		0% {background-color: rgba(0, 0, 0, 0)}
		100% {background-color: rgba(0, 0, 0, 0.3);}
	}
	-webkit-@keyframes fundo-escuro {
		0% {background-color: rgba(0, 0, 0, 0)}
		100% {background-color: rgba(0, 0, 0, 0.3);}
	}

	div[style="transform-origin: left top 0px; transform: translate3d(250px, 0px, 0px) scale(1);"].km-widget.km-view::before,
	div[style="transform: translate3d(250px, 0px, 0px) scale(1);"].km-widget.km-view::before {
	    content: "";
	    position: absolute;
	    z-index: 10;
	    height: 100%;
	    width: 100%;
	    background-color: rgba(0, 0, 0, 0.3);
	    -webkit-animation: fundo-escuro 0.2s;
	    		animation: fundo-escuro 0.2s;
	}

/*** USER MENU ***/
#appDrawer .km-header .km-view-title {
	height: 100%;
    min-height: 47px;
    line-height: normal;
	text-align: left;
}
	#appDrawer .km-view-title span {
		display: block;
		margin-top: 0.5em;
		overflow: hidden;
		text-overflow: ellipsis;
	}

/*#appDrawer*/ .user-thumb {
    overflow: hidden;
    border-radius: 50%;
    background-color: #fff;
}
	/*#appDrawer*/ .user-thumb .km-thumbnail {
		height: 100%;
		background-color: #ccc;
	}
	#appDrawer .user-thumb {
    	display: inline-block;
    	float: left;
	    height: 90%;
	    width: 53px;
    	margin: 0.2em 0.5em 0.15em 0.3em;
	}

.tia-number {
	font-size: 0.7em;
}
	.tia-number p {
		display: inline-block;
		margin: 0;
	}
	.tia-number p:nth-child(2) {
		text-indent: 3px;
	}


/****** MODAL WINDOW ******/
/**************************/
#kendoUiMobileApp .km-modalview-root .k-animation-container {
	height: auto !important;
	padding: 0 !important;
}
#kendoUiMobileApp .km-modalview-root .k-animation-container > .km-modalview-wrapper::before {
	content: none;
}
#kendoUiMobileApp .km-modalview-root .km-modalview-wrapper,
#modalview-message {
	position: relative !important;
}
#kendoUiMobileApp .km-modalview-root .km-modalview-wrapper {
	background-color: transparent;
	border: none;
}

#modalview-message {
	height: auto;
}
#modalview-message .km-content {
	border-radius: 4px 4px 0 0;
}

#modalview-message .km-footer {
	height: auto;
}
	#modalview-message .km-footer,
	#modalview-message .km-footer .km-widget {
		background-color: transparent;
	}
	#modalview-message .km-footer .km-widget {
		border: none;
	}
	#modalview-message .km-footer .km-button {
		width: 100%;
		padding: 0;
		margin: 0;
		border-width: 1px 0 0;
		border-top: 1px solid #ccc;
		border-radius: 0 0 4px 4px;
		color: #000;
		background-color: #fff;
	}
	#modalview-message .km-footer .km-button.km-state-active {
		background-color: #EA6A6A;
	}
	#modalview-message .km-footer .km-button.km-state-active .km-text {
		color: #000;
	}


/*** RESULTADOS DE PROVAS ***/
/****************************/
#avaliacoes .flaticon-tests .km-icon:after {
	text-indent: 0.3em;
}

#kendoUiMobileApp #avaliacoes .aval-praticas .masterDetailView li {
	padding: 1em;
}
	#kendoUiMobileApp #avaliacoes /*.aval-praticas*/ .masterDetailView li > div {
		display: inline-block;
		width: 100%;
		margin: 0;
	}
	#kendoUiMobileApp #avaliacoes .aval-praticas .masterDetailView li > div > h4 {
		text-align: center;
		margin: 0 0 0.3em;
	}
	#kendoUiMobileApp /*#avaliacoes .aval-praticas*/ .masterDetailView li > div p {
		margin: 0;
	}

#kendoUiMobileApp /*#avaliacoes*/ .prof-disciplina-wrap {
	display: flex;
	align-content: center;
	justify-content: center;
	margin-bottom: 0.8em; 
}
	#kendoUiMobileApp /*#avaliacoes*/ .prof-disciplina-wrap p {
		padding: 0.6em 0.5em 0;
	}

#kendoUiMobileApp /*#avaliacoes*/ .aval-praticas .aval-wrap {
	float: none;
	max-width: none;
}
	#kendoUiMobileApp /*#avaliacoes*/ .aval-praticas .aval-wrap p {
		display: inline-block;
		text-indent: 0;
	}

#kendoUiMobileApp #aval-praticas .section-name-wrap .km-back {
	float: left;
    height: 30px;
    width: 30px;
    border-width: 4px 0 0 4px;
    border-color: #ccc;
    transform: rotate(-45deg);
    margin: 0.6em 0 0 1em;
}
	#kendoUiMobileApp #aval-praticas .link-x {
		margin-left: 0;
	}
	#kendoUiMobileApp #aval-praticas h4 {
		margin-bottom: 0.3em;
		text-align: center;
	}
	#kendoUiMobileApp #aval-praticas .prof-disciplina-wrap p {
		margin: 0;
	}

#kendoUiMobileApp #aval-praticas .prof-disciplina-wrap + .section-icon-name {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 0 1em;
}
	#kendoUiMobileApp #aval-praticas .section-icon-name h2 {
		margin: 0;
		display: inline-block;
		font-weight: normal;
	}
	#kendoUiMobileApp #aval-praticas .prof-disciplina-wrap + .section-icon-name + p {
		margin: 0.3em 1em;
		text-indent: 1.5em;
	}
	#kendoUiMobileApp #aval-praticas .prof-disciplina-wrap + .section-icon-name .km-icon::after {
		display: inline;
		font-size: 1.2em;
		margin-right: 0.3em;
	}


/******** RANKING ********/
/*************************/
#rankings .km-scroll-wrapper .masterDetailView li[data-uid] {
	width: 100%;
	padding-right: 1em;
}
#rankings .masterDetailView li[data-uid] .user-thumb.rank-thumb {
	display: inline-block;
	height: 40px;
	width: 40px;
	margin: 0;
}
	#rankings .masterDetailView li[data-uid] span {
		display: inline-block;
		max-width: 140px;
	}
	#rankings .masterDetailView li[data-uid] span:first-of-type {
		font-size: 1.2em;
		margin: 0 0.5em 0 1em;
		-webkit-transform: translateY(-0.8em);
			-ms-transform: translateY(-0.8em);
				transform: translateY(-0.8em);
	}
	#rankings .masterDetailView li[data-uid] span:nth-of-type(2) {
		-webkit-transform: translateY(-1em);
			-ms-transform: translateY(-1em);
				transform: translateY(-1em);
	}
	#rankings .masterDetailView li[data-uid] span:last-of-type {
		float: right;
		-webkit-transform: translateY(0.8em);
			-ms-transform: translateY(0.8em);
				transform: translateY(0.8em);
	}

#rankings .rank-descricao p {
	display: inline-block;
	margin: 0.4em 0.8em;
	font-size: 1.2em;
}
	#rankings .rank-descricao p:last-child {
		float: right;
	}

#rankings .descricao-wrap {
	border-bottom: none;
	background-color: rgba(0, 0, 0, 0.1);
}
	#rankings .descricao-wrap h3 {
		padding: 0;
		font-size: 1.1em;
	}
	#rankings .descricao-wrap .descricao-disc {
		padding: 0.7em 1em 0.9em;
		text-align: center;
	}
	#rankings .descricao-wrap .descricao-disc p,
	#rankings .descricao-wrap h3 {
		float: none;
	}
	#rankings .descricao-wrap .descricao-disc p {
	    font-size: 0.8em;
	    letter-spacing: 1px;
 	    -webkit-transform: translateY(-0.3em);
	 	    -ms-transform: translateY(-0.3em);
	 	    	transform: translateY(-0.3em);
	}

	#rankings .descricao-wrap.sua-posicao {
		padding: 0.4em 1em 0.5em;
	}
	/*#rankings .descricao-wrap.sua-posicao + .km-listview-wrapper li {
		background-color: rgba(0, 0, 0, 0.065);
	}*/


/*** PERGUNTAS FREQUENTES ***/
/****************************/
form.section-name-wrap {
	padding: 0.5em 1em;
}
.faq-pesquisa {
	float: left;
	width: 77%;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 1em;
}
.faq-reset {
	float: right;
    padding: 0.5em 0;
    font-size: 1em;
    border: none;
    color: #555;
}
#kendoUiMobileApp #mackz-faq .km-scroll-wrapper .masterDetailView li {
	position: absolute;
}
	#kendoUiMobileApp #mackz-faq .km-scroll-wrapper .masterDetailView li .image-with-text {
		line-height: 36px;
	}


/***** EDITAR PERFIL ******/
/**************************/
#perfilViewModel form {
	padding: 1em 2em 2em;
}
#perfilViewModel.form-view {
	padding-top: 3.5em;
}
	#perfilViewModel .user-thumb {
	    float: none;
	    display: block;
	    height: 70px;
	    width: 70px;
	    margin: 0 auto 0.2em;
	    border: 1px solid rgba(0, 0, 0, 0.1);
	}
	#perfilViewModel .user-thumb + a {
		display: block;
		text-align: center;
		margin-bottom: 1em;
	}

#perfilViewModel .form-content-item {
	border-top-width: 1px;
}
	/*#perfilViewModel .form-content-item input {
		width: 75%;
	}*/

#perfilViewModel .button-group {
	display: inline-block;
}
	#perfilViewModel .button-group .km-button {
	    display: inline-block;
		height: 100%;
		width: 100%;
	    padding: 1em;
	    margin: 0;
	    color: #fff;
	    font-size: 1.1em;
	}


/*** CURSOS e DISCIPLINAS ***/
/****************************/
.km-flat .km-view .km-header > .km-tabstrip {
	width: 100%;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
	.km-flat .km-view .km-header > .km-tabstrip .km-button {
	    font-size: 1em;
	    width: 50%;
	}
	.km-flat .km-view .km-header > .km-tabstrip .km-button.km-state-active {
	    background-color: #fff;
	    border-bottom: 2px solid #bbb;
	}
	.km-flat .km-view .km-header > .km-tabstrip .km-button.km-state-active .km-text {
	    color: #000;
	}
	.km-flat .km-view .km-header > .km-tabstrip .km-icon {
		display: none;
	}

/*** CURSOS VIEW ***/
#cursos .km-scroll-wrapper .km-listview-wrapper li:not(.km-load-more) {
	padding-top: 3.5em;
}
	#cursos .km-scroll-wrapper .km-listview-wrapper li:not(.km-load-more) .image-with-text {
		position: relative;
	}
	#cursos .km-scroll-wrapper .km-listview-wrapper li:not(.km-load-more) .image-with-text::after {
		top: calc(50% - 10px);
		right: -10%;
	}
	/*#cursos*/ .km-scroll-wrapper .km-listview-wrapper li h3 {
		margin: 0;
	}
	/*#cursos*/ #kendoUiMobileApp .km-scroll-wrapper .masterDetailView li {
		position: relative;
		min-height: 67px;
		padding: 1em 3em 1em 1em;
		margin: 0;
	}
	/*#cursos*/ .km-scroll-wrapper .km-listview-wrapper li .image-with-text::after {
	    content: "";
	    position: absolute;
	    top: calc(50% - 17px);
	    right: 5%;
	    height: 30px;
	    width: 30px;
	    border-top: 5px solid #ccc;
	    border-right: 5px solid #ccc;
	    -webkit-transform: rotate(45deg);
	    	-ms-transform: rotate(45deg);
	    		transform: rotate(45deg);
	}
	#cursos .km-scroll-wrapper .km-listview-wrapper li .km-label-above {
		font-size: 0.8em;
	}

/*** CURSO SELECIONADO VIEW ***/
.descricao-wrap {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
	.descricao-wrap > .descricao-disc {
		overflow: hidden;
	}
	.descricao-wrap > .descricao-disc .km-button.km-back,
	.descricao-wrap p,
	.descricao-wrap h3 {
		float: left;
	}
	.descricao-wrap > .descricao-disc .km-button.km-back {
	    height: 28px;
	    width: 20px;
	    margin: 1em 0 1em 1em;
	    border-radius: 0;
	    border-width: 5px 0 0 5px;
	    border-color: #ccc;
	    -webkit-transform: rotate(-45deg);
	    	-ms-transform: rotate(-45deg);
	    		transform: rotate(-45deg);
	}
	.descricao-wrap p {
		display: inline-block;
		margin: 0;
    	font-size: 0.9em;
    	-webkit-transform: translate(-0.5em, 1.1em);
    		-ms-transform: translate(-0.5em, 1.1em);
	    		transform: translate(-0.5em, 1.1em);
	}
	.descricao-wrap h3 {
	    display: inline-block;
	    margin: 0;
	    font-size: 1em;
	    padding: 1em 0;
	}

	.descricao-wrap > .descricao-prof {
		display: flex;
		display: -webkit-flex;
		-webkit-align-items: center;
				align-items: center;
		-webkit-justify-content: center;
				justify-content: center;
		padding: 0 1em 0.5em;
	}
	.descricao-wrap > .descricao-prof .user-thumb {
		display: inline-block;
		height: 30px;
		width: 30px;
		margin-right: 0.5em;
	}
	#tabDisciplinas .descricao-wrap h3 {
	    width: 74%;
	}
	#disciplinasViewModelDetailsView .descricao-wrap h3 {
	    float: right;
	    width: 67%;
	    margin-left: -7px;
	}
	#disciplinasViewModelDetailsView .descricao-wrap .km-label-above {
		display: inline-block;
		/*width: 100%;*/
	}

/*** BOTÕES SEMESTRES e ANO (DESC. DISCIPLINAS) ***/
.km-flat .km-view .disciplinas-wrap .km-buttongroup {
	display: block;
	padding: 0 1em;
	margin: 0 auto 0.5em;
}

.avaliacoes-wrap #tabPublicacoes .km-buttongroup:first-of-type {
		padding: 0 1em;
	}
	.avaliacoes-wrap #tabPublicacoes .km-buttongroup:first-of-type li,
	.km-flat .km-view .disciplinas-wrap .km-buttongroup li {
		float: left;
	}
	.avaliacoes-wrap #tabPublicacoes .km-buttongroup:first-of-type li {
		padding: 0.8em 1.2em;
	}

	.km-flat .km-view .disciplinas-wrap .km-buttongroup li {
		padding: 0.9em 0.8em;
	}
	.avaliacoes-wrap #tabPublicacoes .km-buttongroup:first-of-type li:first-child,
	.km-flat .km-view .disciplinas-wrap .km-buttongroup li:first-child {
		border-radius: 4px 0 0;
	}
	.avaliacoes-wrap #tabPublicacoes .km-buttongroup:first-of-type li:nth-child(4),
	.km-flat .km-view .disciplinas-wrap .km-buttongroup li:nth-child(4) {
		border-radius: 0 4px 0 0;
		border-right: 1px solid rgba(0, 0, 0, 0.1);
	}
	.avaliacoes-wrap #tabPublicacoes .km-buttongroup:first-of-type li:nth-child(5),
	.km-flat .km-view .disciplinas-wrap .km-buttongroup li:nth-child(5) {
		border-radius: 0 0 0 4px;
		border-left: 1px solid rgba(0, 0, 0, 0.1);
	}
	.avaliacoes-wrap #tabPublicacoes .km-buttongroup:first-of-type li:nth-child(8),
	.km-flat .km-view .disciplinas-wrap .km-buttongroup li:nth-child(8) {
		border-radius: 0 0 4px 0;
	}

	.avaliacoes-wrap #tabPublicacoes .km-buttongroup:first-of-type li:nth-child(5),
	.km-flat .km-view .disciplinas-wrap .km-buttongroup li:nth-child(5),
	.avaliacoes-wrap #tabPublicacoes .km-buttongroup:first-of-type li:nth-child(6),
	.km-flat .km-view .disciplinas-wrap .km-buttongroup li:nth-child(6),
	.avaliacoes-wrap #tabPublicacoes .km-buttongroup:first-of-type li:nth-child(7),
	.km-flat .km-view .disciplinas-wrap .km-buttongroup li:nth-child(7),
	.avaliacoes-wrap #tabPublicacoes .km-buttongroup:first-of-type li:nth-child(8),
	.km-flat .km-view .disciplinas-wrap .km-buttongroup li:nth-child(8) {
		border-top: 0;
	}

/*** AGENDA ***/
.km-flat .km-view .disciplinas-wrap #agenda .km-buttongroup {
	width: 100%;
}
	.km-flat .km-view .disciplinas-wrap #agenda .km-buttongroup .km-button {
		padding: 0.45em 0;
	}
	.km-flat .km-view .disciplinas-wrap #agenda .km-buttongroup .km-button:first-child {
		/*border-radius: 4px 0 0 4px;*/
	}
	.km-flat .km-view .disciplinas-wrap #agenda .km-buttongroup .km-button:last-child {
		/*border-radius: 0 4px 4px 0;*/
		border-top: 1px solid rgba(0, 0, 0, 0.1);
	}

.km-flat .km-view .descricao-wrap + .km-buttongroup {
	width: 100%;
	padding: 0 1em;
}
	.km-flat .km-view .descricao-wrap + .km-buttongroup .km-button {
		width: 50%;
	}
	.km-flat .km-view .descricao-wrap + .km-buttongroup .km-button.km-state-active {
		background-color: #EA2D2E;
	}

/*** TELA AVALIAÇÕES ***/
.avaliacoes-wrap #tabAvaliacoes .km-back {
    width: 100%;
	margin: 0;
    border: 0;
    border-radius: 0;
    color: #fff;
}
	.avaliacoes-wrap #tabAvaliacoes .km-back .km-icon::after {
		content: "\e0b4";
		font-size: 1.2em;
	}

.avaliacoes-wrap .prox-aula {
	position: relative;
	padding: 0 1.2em 1em;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
	.avaliacoes-wrap .prox-aula p {
		display: inline-block;
		margin-left: 0;
	}
	.avaliacoes-wrap .prox-aula p + .km-button {
		position: absolute;
		top: 0.5em;
		right: 0.5em;
		height: 30px;
		width: 40px;
	    padding: 0;
	    border: none;
	}
	.avaliacoes-wrap .prox-aula p + .km-button span {
		display: inline-block;
		height: 18px;
		width: 18px;
		margin-top: 0.5em;
		border-width: 3px 3px 0 0;
	    border-color: #ccc;
	    border-style: solid;
	    -webkit-transform: rotate(45deg);
	    	-ms-transform: rotate(45deg);
	    		transform: rotate(45deg);
	}

	.avaliacoes-wrap .prox-aula .grupo-wrap {
		display: inline-block;
		width: 49%;
	}
	.avaliacoes-wrap .prox-aula .grupo-wrap .km-button {
		padding: 0.8em 0.8em 0 0;
		margin: 0;
		border: none;
	}
	.avaliacoes-wrap .prox-aula .km-button .km-icon::after {
		font-size: 1.1em;
	}
	.avaliacoes-wrap .prox-aula .km-button .km-i-film::after {
		content: "\e09c";
	}
	.avaliacoes-wrap .prox-aula .km-button .km-i-envelop-open::after {
		content: "\e09a";
	}
	.avaliacoes-wrap .prox-aula .km-button .km-i-image::after {
		content: "\e07c";
	}

.avaliacoes-wrap .aval-praticas h3 {
	text-align: center;
}

#kendoUiMobileApp .avaliacoes-wrap .aval-praticas .km-listview-wrapper li {
	padding: 0.5em 1em;
	border: none;
	min-height: initial;
}
	.aval-praticas .km-listview-wrapper li .km-icon::after {
		content: "\e09c";
	}

.aval-praticas .tipo-avaliacao-wrap {
	float: left;
	margin-top: 0.3em;
	max-width: 58%;
}
	.aval-praticas .tipo-avaliacao-wrap p {
		margin: 0;
	}
	.aval-praticas .tipo-avaliacao-wrap p:nth-child(2) {
		text-indent: 17px;
	}
	.aval-praticas .tipo-avaliacao-wrap p b {
		color: #EA2D2E;
		font-size: 0.8em;
	}

.aval-praticas .tipo-avaliacao-wrap + .km-button {
	float: right;
	padding: 0.3em;
	min-width: 110px;
}
	#kendoUiMobileApp .aval-praticas .tipo-avaliacao-wrap + .km-button.km-state-active {
		color: #000;
	}

/*** STATUS BOTÕES AVALIAÇÃO ***/
#kendoUiMobileApp .aval-praticas .tipo-avaliacao-wrap + .valido-button {
	border-color: green;
}
#kendoUiMobileApp .aval-praticas .tipo-avaliacao-wrap + .realizado-button {
	background-color: #ccc;
	opacity: 0.7;
}
#kendoUiMobileApp .aval-praticas .tipo-avaliacao-wrap + .expirado-button {
	background-color: #EA2D2E;
	color: #fff;
}

/*** DISCIPLINAS VIEW ***/
#disciplinas .details-content .km-buttongroup .km-button.km-state-active {
	background-color: #EA2D2E;
}
#disciplinas .km-scroll-wrapper {
	padding: 0;
}
#disciplinas .masterDetailView {
	padding-top: 2em;
}
#kendoUiMobileApp #disciplinas .km-listview-wrapper li .user-thumb.prof-thumb {
	display: inline-block;
	float: left;
	height: 40px;
	width: 40px;
	margin: 0;
}
#kendoUiMobileApp #disciplinas .km-listview-wrapper li .prof-thumb + .image-with-text,
#kendoUiMobileApp #disciplinas .km-listview-wrapper li label {
    display: inline-block;
    float: right;
    width: 83%;
}
#kendoUiMobileApp #disciplina

/*** AGENDA VIEW ***/
#agenda ul {
	display: inline-block;
}

/*** DISCIPLINAS DETAILS ***/
.avaliacoes-wrap #tabPublicacoes .km-buttongroup:nth-child(2) {
	width: 100%;
	margin: 0.5em 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}
	.avaliacoes-wrap #tabPublicacoes .km-buttongroup:nth-child(2) a {
		border-radius: 0;
		border-left: none;
		border-right: none;
		padding: 0em;
	}
	.avaliacoes-wrap #tabPublicacoes .km-buttongroup:nth-child(2) .km-button.km-state-active {
		background-color: transparent;
		color: #4c5356;
		border-bottom: 3px solid #ccc;
	}

	.avaliacoes-wrap #tabPublicacoes .km-buttongroup:nth-child(2) .km-button {
		padding: 0.8em 0.4em;
		border: none;
		font-size: 0.9em;
	}
	.avaliacoes-wrap #tabPublicacoes .km-buttongroup:nth-child(2) .km-button .km-icon::after {
		font-size: 1.2em;
	}
	.avaliacoes-wrap #tabPublicacoes .km-buttongroup:nth-child(2) .km-button:first-child .km-icon::after {
		content: "\e09c";
	}
	.avaliacoes-wrap #tabPublicacoes .km-buttongroup:nth-child(2) .km-button:nth-child(2) .km-icon::after {
		content: "\e07c";
	}
	.avaliacoes-wrap #tabPublicacoes .km-buttongroup:nth-child(2) .km-button:nth-child(3) .km-icon::after {
		content: "\e09a";
	}
	.avaliacoes-wrap #tabPublicacoes .km-buttongroup:nth-child(2) .km-button:nth-child(4) .km-icon::after {
		content: "\e0e5";
	}

	.avaliacoes-wrap #tabPublicacoes .km-buttongroup:nth-child(2) .km-button .km-text {
		margin-left: 0.3em;
	}

#tabPublicacoes .km-buttongroup:first-child .km-button:nth-child(7) {
	border-radius: 0;
}
#tabPublicacoes .km-buttongroup:first-child .km-button:nth-child(8) {
	border-radius: 0 0 4px 0;
}

#tabPublicacoes .lista-arquivos {
	padding: 0 1em;
}
	#tabPublicacoes .lista-arquivos .km-scroll-container {
		height: auto;
	}
	#tabPublicacoes .lista-arquivos li {
		padding: 0;
		border-bottom: none;
	}
	#tabPublicacoes .lista-arquivos li:not(:first-child) {
		margin: 1.2em 0;
	}
	#tabPublicacoes .lista-arquivos li:first-child {
		margin: 0.5em 0 0;
	}
	#tabPublicacoes .lista-arquivos li .docs-wrap,
	#tabPublicacoes .lista-arquivos li .docs-wrap + p {
		display: inline-block;
	}
	#tabPublicacoes .lista-arquivos li .docs-wrap {
		max-width: 80%;
	}
	#tabPublicacoes .lista-arquivos li .docs-wrap p,
	#tabPublicacoes .lista-arquivos li .docs-wrap + p {
		margin: 0;
	}
	#tabPublicacoes .lista-arquivos li .docs-wrap p:nth-child(2) {
		margin: 0.3em 0;
		font-size: 0.9em;
	}
	#tabPublicacoes .lista-arquivos li .docs-wrap + p {
		float: right;
	}