<div data-role="view" data-title="" data-layout="main" data-model="app.perfilView"
     data-show="app.perfilView.onShow"
     xdata-after-show="app.perfilView.afterShow">
    <div id="perfilViewModel" class="form-view">

        <form>
            <div class="user-thumb-wrap">
                <div class="user-thumb">
                    <img id="foto" class="km-thumbnail" src="styles/images/user-male.png" alt="Your photo">
                </div>
                <a data-bind="events: { click: perfilViewModel.editarFoto }">Editar foto</a>
            </div>
        
            <ul class="form-content" data-role="listview" data-style="inset">

                <li class="form-content-item">
                    <input id="nome" data-bind="value: perfilViewModel.fields.nome" placeholder="Informe seu nome" type="text">
                </li>

                <li class="form-content-item">
                    <input id="email" data-bind="value: perfilViewModel.fields.email" placeholder="email@dominio.com" type="email">
                </li>

                <li class="form-content-item">
                    <input id="senha" data-bind="value: perfilViewModel.fields.senha" placeholder="Sua senha" type="password">
                </li>

                <li class="form-content-item">
                    <input id="senha" data-bind="value: perfilViewModel.fields.confirmarSenha" placeholder="Redigite sua senha" type="password">
                </li>

            </ul>

            <div class="button-group">
                <a class="primary" data-role="button" data-bind="events: { click: perfilViewModel.enviar }">Enviar</a>
            </div>
        </form>
        <!-- START_CUSTOM_CODE_perfilViewModel -->
        <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

        <!-- END_CUSTOM_CODE_perfilViewModel -->
    </div>

    <!-- START_CUSTOM_CODE_perfilView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_perfilView -->
</div>