<div data-role="view" data-title="" data-layout="main" data-model="app.perfilView"
     data-show="app.perfilView.onShow"
     xdata-after-show="app.perfilView.afterShow">
    <div id="perfilViewModel" class="form-view">

        <form>
            <input type="file" id="fileinput" name="fileinput" style="display:none;"/>
            <div class="user-thumb-wrap">
                <div class="user-thumb">
                    <!-- <img id="foto" class="km-thumbnail" src="styles/images/user-male.png" alt="Your photo"> -->
                    <span id="foto" class="km-thumbnail" style="background-image: url( ../../styles/images/user-male.png )"></span>
                </div>
                <a data-bind="events: { click: perfilViewModel.editarFoto }">Editar foto</a>
            </div>
        
            <ul class="form-content" data-role="listview" data-style="inset">

                <li class="form-content-item">
                    <input id="nome" data-bind="value: perfilViewModel.fields.nome" placeholder="Informe seu nome" type="text">
                </li>

                <li class="form-content-item">
                    <input id="email" data-bind="value: perfilViewModel.fields.email" placeholder="email@dominio.com" type="email">
                </li>

            </ul>

            <div class="button-group">
                <a class="primary" data-role="button" data-bind="events: { click: perfilViewModel.enviar }">Salvar</a>
            </div>
        </form>

    </div>

    <ul id="imageActions" data-role="actionsheet" data-popup='{"direction": "left"}'
        data-cancel="Cancelar">
        <li><a href="#" data-action="editarPerfilOnCamera">Camera</a></li>
        <li><a href="#" data-action="editarPerfilOnFilmadora">Filmadora</a></li>
        <li><a href="#" data-action="editarPerfilOnDocumentos">Documentos</a></li>
    </ul>
</div>