<div id="mackz-checkin" data-role="view" data-title="" data-layout="main-detail" data-model="app.faqsView" 
     data-show="app.faqsView.onShow" data-after-show="app.faqsView.afterShow">
    
	<div class="section-name-wrap">
	    <div class="section-icon-name flaticon-publication">
	        <span class="km-icon" data-icon=""></span>
	        <span>Check-in de Aula</span>
	    </div>
	    <a class="link-x" data-bind=""></a>
	</div>
	
	<div class="qr-demo-window">
		<div class="section-name-wrap checkin-header" style="padding:0 0.8em;">
			<div class="section-icon-name flaticon-pin-search">
			    <span class="km-icon" data-icon=""></span>
            	<p>Escaneie o código QR disponível com o Professor</p>
			</div>
	    </div>

	    <div class="checkin-conteudo-wrap">
	    	<div class="modal-informativo-wrap">
	    		<div class="checkin-demo">
	    			<div class="QR-code flaticon-qr-code"></div>
	    			<div class="smartphone"></div>
	    		</div>
	    	</div>
	    </div>

		<div class="km-button-group">
			<button class="km-button" data-role="button" type="button">Ok, entendi</button>
		</div>	
	</div>

	<div class="qr-camera-wrap">
		<div class="camera-imagem-wrap">
			<img src="../../styles/images/user-male.png">
		</div>
	</div>
	
</div>