<div id="Pesquisa" data-role="view" data-title="Pesquisa" data-layout="main" data-model="app.pesquisaView" data-show="app.pesquisaView.onShow" data-after-show="app.pesquisaView.afterShow">

    <!-- START_CUSTOM_CODE_pesquisaView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <div data-role="tabs"

	<div data-role="tabstrip" id="tabStrip">
	    <a href="components/cursosView/view.html">Cursos</a>
	    <a href="components/disciplinasView/view.html">Disciplinas</a>
	    <a href="#tabstrip-teste">Tags</a>
	</div>
    <!-- END_CUSTOM_CODE_pesquisaView -->
</div>