<div data-role="view" data-layout="main-aceite" data-model="app.home" data-show="app.home.onShow" data-after-show="app.home.afterShow">

	<!-- TOPO E TÍTULO ACEITE -->
	<!-- estilos aplicado só pra visualização - depois tiraremos daqui -->
	<div class="cabecalho-wrap" style="background-color: #EA2D2E;">
		<div class="logo-mackenzie-wrap">
			<img src="../../styles/images/Logo-Mackenzie-app.png" alt="M">
		</div>
		<div class="" style="color: #FFF;">
			<p>Termos de aceite e utilização</p>
		</div>
	</div>

	<!-- TEXTO ACEITE -->
	<div class="">
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis dolor odio. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum eu magna sit amet purus ornare pretium eu vitae massa. Maecenas sit amet lobortis dolor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed maximus, justo mattis suscipit tincidunt, leo tortor facilisis libero, sed tincidunt libero felis nec sem. Fusce non iaculis felis. Nam finibus laoreet mollis. Nam felis mauris, imperdiet nec ultricies in, imperdiet in erat. Nunc mi nibh, pretium et tortor non, aliquam tempor quam. Sed convallis purus in nibh volutpat, vitae blandit quam eleifend. Ut a ultricies justo, sit amet malesuada quam. Nam consequat eget risus ac ullamcorper. Donec semper risus in lacus pellentesque, vitae vestibulum ipsum accumsan. Donec vitae urna diam.
		</p>
		<p>
			Ut turpis nibh, posuere non nunc a, porta porta leo. Integer justo risus, eleifend at tincidunt eget, tincidunt at massa. Curabitur ultricies orci a consequat molestie. Proin vel sagittis leo. Sed lorem felis, semper quis dolor et, aliquet viverra urna. Sed vehicula quam ac tortor efficitur molestie nec sit amet urna. Pellentesque eleifend in nibh vitae eleifend. In euismod iaculis augue vel imperdiet. Aenean ut metus sed purus maximus maximus ac nec nisi. In tortor arcu, mollis quis enim dictum, laoreet ultricies orci. Donec tristique tempus ipsum, at rhoncus ipsum laoreet ut. Pellentesque felis eros, tempus eget augue quis, sodales tempus elit. Aliquam eu lectus dolor. Ut pulvinar nisi et sagittis vestibulum. Etiam pharetra felis sed massa interdum commodo.
		</p>
		<p>
			Pellentesque vestibulum, mauris vitae condimentum blandit, dui massa pretium ante, at auctor leo diam ut nisl. Nullam faucibus sodales mauris, ut pellentesque justo porttitor ut. Morbi ultrices leo ex, at pharetra ipsum bibendum sed. Phasellus quis purus maximus tortor sollicitudin interdum. Suspendisse eleifend posuere tortor, eu ultricies lorem dictum scelerisque. Maecenas eleifend et ante eu auctor. Morbi ligula orci, imperdiet eu pretium ac, sagittis vitae libero.
		</p>
	</div>

	<!-- BOTÕES DE NAVEGAÇÃO -->
	<!-- estilos aplicado só pra visualização - depois tiraremos daqui -->
	<div class="button-group button-group-vertical" style="background-color: #EA2D2E;">
		<a data-role="button" href="components/home/view.html">Sair</a>
		<a data-role="button" data-bind="events: { click: homeModel.aceite }">Avançar</a>
	</div>
	<!-- FIM DO ACEITE -->
</div>