<div data-role="view" data-layout="main-aceite" data-model="app.home" data-show="app.home.onShow" data-after-show="app.home.afterShow">

	<!-- TOPO E TÍTULO ACEITE -->
	<!-- estilos aplicado só pra visualização - depois tiraremos daqui -->
	<div class="cabecalho-wrap" style="background-color: #EA2D2E;">
		<div class="logo-mackenzie-wrap">
			<img src="../../styles/images/Logo-Mackenzie-app.png" alt="M">
		</div>
		<div class="privac-titulo" style="color: #FFF;">
			<p>Política de privacidade</p>
		</div>
	</div>

	<!-- TEXTO ACEITE -->
	<div class="privac-texto">
		<article>
			<section>
				<p>Respeitamos a privacidade de cada usuário deste website/aplicativo. Favor leia nossa Política de Privacidade cuidadosamente para que você possa compreender como coletamos e utilizamos as informações que nos são fornecidas.</p>
				<p>Ao fazer navegar neste website ou fazer o download deste aplicativo, você estará autorizando o uso de dados descritos nesta política.</p>
			</section>
			<section>
				<h4>O que esta política de privacidade cobre?</h4>
				<p>Esta política de privacidade cobre o uso de informações coletadas através deste website/aplicativo ou em conexão com o(s) mesmo(s).</p>
			</section>
			<section>
				<h4>Quem é o responsável pelas informações pessoais coletadas neste website/aplicativo?</h4>
				<p>A Universidade Presbiteriana Mackenzie  poderá controlar tais dados pessoais - para mais informações entre em contato no e-mail mackcloud@mackenzie.br</p>
			</section>
			<section>
				<h4>Coleta e uso de informações</h4>
				<p>As informações que podem ser coletadas através deste website/aplicativo incluem o seguinte:</p>

				<p class="list-item">Dados pessoais, como endereços de e-mail, numeros de celulares, endereços de IP (Internet Protocol), informações de data e horário de acesso, entre outras informações; a freqüência com que você utiliza o web/aplicativo e a natureza do uso; o tipo de dispositivo que você utiliza; onde você escolheu utilizar os "Serviços de Localização" no download do aplicativo, detalhes do percurso e da localização; seu feedback a respeito de sua experiência no uso do website/aplicativo.</p>

				<p>A participação na Cloud Mack e/ou a navegação neste website/aplicatico implica no consentimento do Usuário para coleta, armazenamento e uso das informações pessoais fornecidas e suas atualizações, dados de tráfego, endereços IP, dentre outros.</p>
				<p>No entanto, as informações identificadas acima são coletadas, monitoradas e analisadas a título não-pessoal, e não podemos identificá-lo a partir de tais informações.  </p>
				<p>Além disso, as informações enviadas por você no website/aplicativo não serão utilizadas para outros fins além da prestação dos serviços relevantes através do website/aplicativo. Não iremos vincular as informações coletadas com as informações pessoais que possamos ter sobre você.</p>
				<p>Nós utilizamos as informações coletadas e/ou fornecidas através deste website/aplicativo para os seguintes fins:</p>

				<p class="list-item">Prestar os serviços que lhe são oferecidos através deste website/aplicativo;</p>
				<p class="list-item">Responder a consultas ou pedidos enviados por você;</p>
				<p class="list-item">Prever e resolver problemas com quaisquer produtos ou serviços fornecidos a você;</p>
				<p class="list-item">Conduzir pesquisa de mercado; e/ou</p>

				<p class="list-item">Criar produtos ou serviços que possam atender às suas necessidades.</p>
				<p>O Usuário desde já declara estar ciente que a Mack Cloud não assume nenhuma responsabilidade em caso de roubo, perda, alteração ou uso indevido de suas informações pessoais, inclusive na hipótese de informações fornecidas a prestadores de serviços terceirizados ou a outros Usuários e na hipótese de descumprimento desta Política por prestadores de serviços terceirizados.</p>
				<p>Conforme estabelecido nesta política de privacidade, não divulgaremos qualquer informação de identificação pessoal sem a sua permissão, a menos que sejamos legalmente autorizados ou solicitados a fazê-lo (por exemplo, se for necessário fazê-lo por processo legal, ou para fins de prevenção de fraude ou outro crime) ou se acreditarmos que tal ação é necessária para proteger e/ou defender os nossos direitos, bens ou segurança pessoal e os de outros usuários ou clientes.</p>
				<p>O Sistema Mack Cloud se reserva o direito de reter informações pelo período que entender necessário para o bom cumprimento de seus negócios de pesquisa, mesmo após o encerramento da conta do Usuário.</p>
			</section>
			<section>
				<h4>Transferência a terceiros e para fora do Brasil</h4>
				<p>Caso quaisquer informações ou dados pessoais nos sejam fornecidos através deste website/aplicativo, tais informações ou dados pessoais poderão ser fornecidos ou transferidos a outros membros dentro do campus da Universidade ou a terceiros, porém apenas para os fins previstos nesta política de privacidade. Isso pode incluir a transferência de tais informações a outros países. A título de exemplo, isso poderá ocorrer caso algum de nossos servidores ou um de nossos prestadores de serviços esteja ocasionalmente localizado em outro país. Tais países podem não possuir leis de proteção de dados semelhantes as do Brasil. Em caso de transferência de informações pessoais a outro país desta forma, iremos tomar medidas para assegurar que seus direitos de privacidade continuem a ser protegidos. Além disso, caso você utilize os nossos serviços, enquanto estiver fora do Brasil, as informações pessoais poderão ser transferidas para fora do Brasil, a fim de lhe prestar tais serviços.</p>
				<p>É reservado ao Sistema Mack Cloud o direito de bloquear o acesso ao website/aplicativo para Usuários alocados em determinados países, com os quais o Brasil não mantenha relações internacionais, por motivos legais.</p>
			</section>
			<section>
				<h4>Salas de bate-papo, quadros de  avisos, grupos de notícias, entre outros</h4>
				<p>Se em algum momento este website/aplicativo oferecer quaisquer salas de chat, recursos de quadros de avisos, grupos de notícias etc. poderemos coletar as informações que você divulgar. Tais informações serão utilizadas de acordo com esta política de privacidade</p>
				<p>Observe que não podemos ser responsáveis pelo uso por parte de terceiros das informações pessoais disponibilizadas aos mesmos por você através de qualquer sala de bate-papo, quadro de avisos, etc. grupos de notícias neste website/aplicativo. Por favor, tenha cuidado com as informações pessoais que você divulgar desta forma.</p>
			</section>
			<section>
				<h4>Recursos de e-mail, feedback e fórum</h4>
				<p>Se em algum momento este website/aplicativo oferecer quaisquer recursos de e-mail, feedback ou fórum, poderemos coletar as informações que você divulgar. Tais informações serão utilizadas de acordo com esta política de privacidade.</p>
			</section>
			<section>
				<h4>Mantendo a precisão de nossos registros</h4>
				<p>Nosso objetivo é manter a nossa informação tão precisa quanto possível. Caso queira rever ou alterar os dados registrados no website/aplicativo, você poderá fazê-lo utilizando a função "Minha Conta" encontrada em "Meus Dados". Além disso, caso você nos forneça quaisquer informações que não possam ser editadas utilizando esta função, entre em contato conosco em mackcloud@mackenzie.br.</p>
				<p>O Sistema Mack Cloud poderá, de tempos em tempos, revisar os dados dos Usuários e verificar se há informações incorretas, incompletas ou desconexas, sendo-lhe permitido excluir os cadastros de Usuários que apresentarem tais falhas.</p>
				<p>O Sistema Mack Cloud informará previamente ao Usuário sobre a possibilidade de alterar seu cadastro antes que haja tal exclusão.</p>
			</section>
			<section>
				<h4>Segurança de seus dados</h4>
				<h4>Uso de informações enviadas a outros website/aplicativos ou sites</h4>
				<p>Implementamos tecnologia e políticas com o objetivo de proteger seus dados contra o acesso não autorizado e uso impróprio, e iremos atualizar tais medidas conforme a nova tecnologia torne-se disponível, conforme o caso.</p>
				<p>Não podemos ser responsáveis pelas políticas e práticas de privacidade de outros website/aplicativos ou sites, mesmo que:</p>

				<p class="list-item">você tenha  você tenha acessado o website/aplicativo ou site de terceiros utilizando links de nosso website/aplicativo, ou</p>
				<p class="list-item">você tenha se conectado ao nosso website/aplicativo a partir de um aplicativo ou site de terceiros.</p>

				<p>Recomendamos que você verifique a política de cada aplicativo ou site visitado e entre em contato com o proprietário ou operador de tal aplicativo ou site, em caso de quaisquer dúvidas ou preocupações.</p>
			</section>
			<section>
				<h4>Alterações a esta política de privacidade</h4>
				<p>Poderemos, ocasionalmente, efetuar alterações nesta política de privacidade. Em caso de qualquer mudança substancial a esta política e à forma como utilizamos as suas informações, publicaremos tais mudanças nesta página e envidaremos nossos melhores esforços para notificá-lo de quaisquer alterações significativas. Por favor, verifique nossa política de privacidade regularmente.</p>
			</section>
			<section>
				<h4>Nosso contato</h4>
				<p>Para maiores informações ou em caso de dúvidas, o usuário poderá consultar o Regulamento do Sistema Mack Cloud através do site www.SistemaMackCloud.com.br.</p>
				<p>Caso queira entrar em contato a respeito de nossa política de privacidade, entrar em contato através do e-mail mackcloud@mackenzie.br ou através do canal de atendimento por telefone.</p>
			</section>
		</article>
	</div>

	<!-- BOTÕES DE NAVEGAÇÃO -->
	<!-- estilos aplicado só pra visualização - depois tiraremos daqui -->
	<div class="button-group button-group-vertical" style="background-color: #EA2D2E;">
		<a data-role="button" href="components/home/view.html">Sair</a>
		<a data-role="button" data-bind="events: { click: homeModel.aceite }">Avançar</a>
	</div>
	<!-- FIM DO ACEITE -->
</div>