<div data-role="view" data-title="" data-layout="main-nonav" data-model="app.home" data-show="app.home.onShow" data-after-show="app.home.afterShow">
    <div class="signin-view">
        <header data-role="header">
            <div class="logo-mackenzie login">
                <img src="styles/images/Logo-Mackenzie-app.svg" alt="M">
            </div>
        </header>

        <form>
            <ul data-role="listview" data-style="inset">
                <li>
                    <select id="unidadesLogin" type="select" data-bind="value: homeModel.unidade" placeholder="Unidade" required autofocus></select>
                </li>
                <li>
                    <input type="text" data-bind="value: homeModel.tia" placeholder="TIA" required autofocus>
                </li>
                <li>
                    <input type="password" data-bind="value: homeModel.password" placeholder="Senha" required id="senha">
                </li>
                <!--li>
                    <label>Lembrar acesso
                        <input type="checkbox" data-bind="checked: homeModel.rememberme">
                    </label>
                </li-->
            </ul>

            <div class="button-group button-group-vertical">
                <a data-role="button" class="primary" data-bind="events: { click: homeModel.signin }">Entrar</a>

                <a data-role="button" data-bind="events: { click: homeModel.toggleView }">Registrar-se</a>
            </div>

            <div class="lost-password">
                <p class="or-text">ou</p>

                <a data-bind="events: { click: homeModel.forgotPassword }" class="lost-text">Esqueci minha senha</a>
            </div>
        </form>
    </div>

    <div class="signup-view" style="display:none;">
        <header data-role="header" class="novo-cadastro-header">
            <div class="logo-mackenzie new">
                <img src="styles/images/Logo-Mackenzie-app.svg" alt="M">
                <div class="novo-cadastro">
                    <h3>Cadastro do aluno</h3>
                </div>
            </div>

        </header>

        <form>
            <ul data-role="listview" data-style="inset">
                <li>
                    <select id="unidadesSignup" type="select" data-bind="value: homeModel.unidade" placeholder="Unidade" required autofocus></select>
                </li>
                <li>
                    <input type="text" data-bind="value: homeModel.tia" placeholder="TIA" required>
                </li>
                <!-- <li>
                    <input type="text" data-bind="value: homeModel.displayName" placeholder="Nome">
                </li> -->
                <li>
                    <input type="email" data-bind="value: homeModel.email" placeholder="Email">
                </li>
                <li>
                    <input type="password" data-bind="value: homeModel.password" placeholder="Senha">
                </li>
                <!-- <li>
                    <input type="password" data-bind="value: homeModel.confirmPassword" placeholder="Confirmar senha">
                </li> -->
            </ul>
            <div class="button-group button-group-vertical">
                <a class="primary" data-role="button" data-bind="events: { click: homeModel.register }">Enviar</a>
                <a data-role="button" data-bind="events: { click: homeModel.toggleView }">Cancelar</a>
            </div>
        </form>
    </div>

    <div class="offline" align="center" style="display:none;">
        You are currently offline. Before using this app in offline mode you must initialize it while you are online
    </div>

</div>